[2020-10-29 15:34] trubach opened #6 "Add automated visual regression testing"
There should be an automated solution to visual regression testing on the Illinois Framework Theme. The below talk gives a good example of using BackstopJS.

- [https://drupal.tv/external-video/2019-06-01/visual-regression-testing-backstopjs](https://drupal.tv/external-video/2019-06-01/visual-regression-testing-backstopjs)

Ideally, the tests would run on a pull request, and compare it to the curr

[2021-02-09 17:01] lizshalley opened #7 "Change upper right links to Source Sans font"

[2021-02-10 05:43] #7 closed

[2021-02-10 05:44] wrg20 commented on #7
Merged with dev

[2021-02-12 19:42] wrg20 opened #9 "Accessibility menu changes"
aria-expanded when menu is closed must have value of false. when menu is expanded - value must be true. we have it backwards, and include aria-haspopup=true on each menu that has a child. on mobile - should be able to get to search before menu with tabbing. spacebar and enter key must toggle items.

[2021-02-12 20:07] wrg20 opened #10 "Top right Header Link List forward slash"
Forward slash appearing after only one link.  The slash should not appear if there is only 1 link
![image](https://user-images.githubusercontent.com/1544079/107817301-8e21a600-6d3b-11eb-8ad0-19e364fb5309.png)

[2021-02-12 20:35] wrg20 commented on #9
![image](https://user-images.githubusercontent.com/1544079/107819937-95e34980-6d3f-11eb-855f-5a1c89e91de8.png)

[2021-02-15 19:18] wrg20 commented on #9
![image](https://user-images.githubusercontent.com/1544079/107985696-2c0dae80-6f90-11eb-8d23-ef862c4989b1.png)
Need to fix some of the accessibility issues found by AXE.  Others pertain to drupal core.

[2021-02-17 16:20] mwllr opened #11 "Set basic font and colors to all body copy"
Please set body copy styles to: https://uofi2020theme.web.illinois.edu/styles/ - ONE change - Set body color to #252525.

[2021-02-17 20:27] #9 closed

[2021-02-17 20:30] wrg20 commented on #10
Fixed by merge #12

[2021-02-17 20:30] #10 closed

[2021-02-18 00:54] mwllr opened #13 "footer - entered items in menu box 1 and 2 - got error code"
got an error code when entering some. they entered, but got the code.
![Screen Shot 2021-02-17 at 5 34 06 PM](https://user-images.githubusercontent.com/54747669/108288085-96218180-7151-11eb-8053-d349655da32c.png)

[2021-02-18 00:57] mwllr opened #14 "footer - headers don't show text I typed"
![Screen Shot 2021-02-17 at 6 57 25 PM](https://user-images.githubusercontent.com/54747669/108288313-00d2bd00-7152-11eb-9e8e-977ea4116f7b.png)
![Screen Shot 2021-02-17 at 6 56 12 PM](https://user-images.githubusercontent.com/54747669/108288319-0203ea00-7152-11eb-843f-c64c34d6b3e1.png)

[2021-02-18 01:04] mwllr opened #15 "main nav buttons - font styling not coming through"
on the main nav buttons, the weight and font is not coming through. Should be looking like the aces example, but is showing lighter weight and a different font for me - chrome on mac. Same problem we had when we did ACES retrofit.

Should look like ACES on Chrome:
![Screen Shot 2021-02-17 at 6 59 54 PM](https://user-images.githubusercontent.com/54747669/108288800-dc2b1500-7152-11eb-9278-2230baf3d7

[2021-02-18 16:10] wrg20 commented on #13
The offending module was something I was trying out.  I have uninstalled it from the website.  The error should now go away now.  The module requires more development to be useful.

[2021-02-18 16:44] #13 closed

[2021-02-18 19:25] mwllr opened #16 "simple navigation"
on drop downs, remove additional chevrons for sub nav items (ie - undergrad, grad, certificates on https://staging.ansc.illinois.edu/programs-of-study)
I need to be able to click on undergrad, grad, and certificates and get to those pages.

Thanks,
M

[2021-02-18 19:27] mwllr opened #17 "login screen"
On the site log in screen, make "Log in" a text link and "University of Illinois Login" a button with rounded corners. (just switch the styling for the two links)

and we need to decide - login or log in 1 word or two?

[2021-02-18 19:42] wrg20 opened #18 "Add email as a required field"
Add the site email as a required field

[2021-02-18 19:53] #18 closed

[2021-02-19 15:58] wrg20 opened #20 "Arrow position below menu item at smaller breakpoints"
![image](https://user-images.githubusercontent.com/1544079/108528335-ed7e3980-7298-11eb-93ba-801943569167.png)

[2021-02-19 16:25] #20 closed

[2021-02-19 17:31] mwllr opened #22 "Top navigation links in header - need to be relative"
Need to allow the top right links in the header to be relative links so they can be moved between staging and test servers.  This is a setting in the Illinois Framework Theme Header Link List group(https://drupal-sandbox.webtheme.illinois.edu/admin/appearance/settings/illinois_framework_theme)

![Screen Shot 2021-02-19 at 11 28 03 AM](https://user-images.githubusercontent.com/54747669/108539700-f2

[2021-02-19 17:34] mwllr opened #23 "top right links- not in correct position"
on mac safari and chrome - the top right links in header don't go to right side of header. good on firefox.
![Screen Shot 2021-02-19 at 11 32 38 AM](https://user-images.githubusercontent.com/54747669/108540056-5b7d2d80-72a6-11eb-81ca-f81025590c26.png)
![Screen Shot 2021-02-19 at 11 32 59 AM](https://user-images.githubusercontent.com/54747669/108540058-5c15c400-72a6-11eb-9415-56cd6c75086a.png)

[2021-02-24 19:38] #17 closed

[2021-02-24 22:41] #23 closed

[2021-03-01 21:24] #11 closed

[2021-03-02 16:28] wrg20 opened #30 "Images overflow outside of the container"
Change img max-width to 100%

[2021-03-04 22:15] wrg20 opened #31 "Page Intro paragraph"
![image](https://user-images.githubusercontent.com/1544079/110037989-c6961d80-7d04-11eb-9c79-17ad411abc58.png)

[2021-03-09 05:30] wrg20 commented on #31
@lizshalley - needs review https://dev.ansc.illinois.edu/paragraphs-test-page

[2021-03-09 15:46] wrg20 opened #36 "Split Feature Paragraph"
![image](https://user-images.githubusercontent.com/1544079/110497666-497bf700-80bc-11eb-85f1-72ce32f0531c.png)

[2021-03-09 16:48] wrg20 opened #37 "Remove Campus bar at the top of the page in mobile"
The campus bar at the top of the page needs to be removed when the viewport is in mobile.

[2021-03-12 15:13] lizshalley commented on #36
looks good!

[2021-03-12 18:48] wrg20 opened #38 "Body Text Examples"
Make changes to the CSS per http://webtheme.illinois.edu/style-sheet/body-text/

[2021-03-23 21:36] wrg20 commented on #30
Merge pull request #42 from web-illinois/bugfix/wrg20/issue-30-images…  fixes the issue

[2021-03-23 21:36] #30 closed

[2021-03-26 21:21] wrg20 opened #46 "Add a maximum width rule"
Because the content area needs to allow for 100% width paragraphs we will need to use a fixed width container for each of the other blocks of content on the website including the header/footer.

[2021-03-26 22:18] wrg20 commented on #46
Fixes Bugfix/wrg20/issue 46 add a maximum width rule with merge #47

[2021-03-26 22:18] #46 closed, assigned to wrg20

[2021-03-26 22:19] wrg20 commented on #31
Closing issue after initial review.

[2021-03-26 22:19] #31 closed

[2021-03-30 04:22] wrg20 commented on #36
Split Feature Complete.

[2021-03-30 18:02] wrg20 opened #48 "Video Feature Paragraph"
![image](https://user-images.githubusercontent.com/1544079/113034795-25aa4f00-9158-11eb-8959-54e52850b51e.png)

[2021-04-01 15:37] magjarvis opened #49 "Remove deprecated paragraphs"
No longer using Colored text block, Two-column text, Text with image and header. Replace with Rich Text modifications

[2021-04-02 17:00] magjarvis opened #50 "Call to Action Narrow paragraph"
Call to action paragraph, narrow version

[2021-04-06 15:28] wrg20 opened #52 "Media Module - PDF alias links not working"
When a PDF is uploaded into the media library, you have an option to create an alias for that, but that functionality.

[2021-04-06 18:24] wrg20 opened #53 "Create Content Manager Role"
The framework will require varying levels of roles.  A content manager role is needed for others to work with the various paragraphs and content types.

[2021-04-06 19:58] wrg20 commented on #53
Had to change the WYSIWYG configurations and settings.

[2021-04-06 21:42] wrg20 commented on #53
Merge pull request #54 fixes this issue

[2021-04-06 21:42] #53 closed, assigned to wrg20

[2021-04-06 21:44] wrg20 opened #55 "Boxed Feature Paragraph"
![image](https://user-images.githubusercontent.com/1544079/113782127-4eea5280-96f7-11eb-81ee-15692d97fdd4.png)

[2021-04-07 20:28] magjarvis opened #57 "Call to action"
Call to action paragraph, with image option.

[2021-04-13 06:45] wrg20 opened #58 "Add CSS files to styleguide/index.html file"
Add the framework styles.css file to the styleguide/index.html file so we can later add all of the paragraphs and custom elements.

[2021-04-13 17:47] wrg20 commented on #55
Ready for review @lizshalley @mwllr - Posted login credentials on slack for you to sign in on the https://wmswgutierr.web.illinois.edu to test out the feature boxed.

[2021-04-13 18:46] lizshalley commented on #55
@wrg20 I still can't see it live...

[2021-04-13 21:23] wrg20 opened #60 "Add "view" permissions for paragraph types."

[2021-04-13 21:27] wrg20 commented on #55
Make the tablet breakpoint behave like mobile(phone) breakpoint

[2021-04-13 22:09] wrg20 opened #61 "Clickable Cards (Big Buttons) Paragraph Type"
![image](https://user-images.githubusercontent.com/1544079/114627537-0690de80-9c7b-11eb-9255-5ef892643afc.png)

[2021-04-15 03:41] wrg20 commented on #61
only 1 option. white with focus/hover to illini blue.

[2021-04-21 17:41] wrg20 opened #63 "Add anchor links to paragraph types"
Add an ID for each paragraph for easy anchor linking.

[2021-04-21 17:45] wrg20 commented on #63
Merge #64 resolves this issue.

[2021-04-21 17:45] #63 closed, assigned to wrg20

[2021-04-21 19:21] wrg20 commented on #61
Done with Merge #65

[2021-04-21 21:58] wrg20 opened #70 "Stats Bar Paragraph"
![image](https://user-images.githubusercontent.com/1544079/115626208-cd7fec00-a2c2-11eb-8701-0edba75591f6.png)

[2021-04-26 17:12] wrg20 opened #73 "Rich Text Paragraph"
Create a two column options with a main title and option for a title in each column.

- 1 column version will be 10 columns wide
- 2 column version will be 12 columns wide
- The paragraph will be constrained to a fixed container width
- The background will be only white at this time with no other options

[2021-04-26 18:57] magjarvis opened #74 "Cards paragraph type"
Cards paragraph type. 2-3 items per row. White and blue background options

[2021-04-28 17:19] wrg20 commented on #73
Created the rich text paragraph with merge #75

[2021-04-29 18:10] wrg20 commented on #61
body not required.

[2021-05-04 18:56] wrg20 opened #77 "Update footer"
Update the footer per the https://webtheme.illinois.edu/style-sheet/footer/ specifications and Illinois theme files in Zeplin.

[2021-05-04 20:05] wrg20 commented on #77
Max 5 parents (college of *) and zeplin is the most up to date.  Melissa to check with others about google translate.

[2021-05-05 19:04] melissawaller78 commented on #55
please remove gray outline around colored background behind text.
![Screen Shot 2021-05-05 at 2 03 36 PM](https://user-images.githubusercontent.com/20865753/117195274-b8b75400-adaa-11eb-860f-d37ffee0a71a.png)

[2021-05-05 19:34] melissawaller78 commented on #55
also, on the largest view, the margins are much larger within the colored box. Please make them the same as the next breakpoint down.
Use these margins for both screen sizes.
![Screen Shot 2021-05-05 at 2 33 00 PM](https://user-images.githubusercontent.com/20865753/117198725-fd44ee80-adae-11eb-9bca-71f7516b12e2.png)
in screen grab below, the margins are too big for adding the box. Match these to a

[2021-05-11 21:05] wrg20 commented on #77
Merged #81 closes this issue

[2021-05-11 21:05] #77 closed, assigned to wrg20

[2021-05-11 21:05] wrg20 commented on #61
Need to rename this to something like cards because "button" indicates that it is actually a button html element.

[2021-05-12 15:48] wrg20 opened #82 "Import content types and paragraphs"
Import Melissa's content types and paragraphs for the configuration install files.

[2021-05-12 21:46] NotThatDavidCross opened #83 "ACES Faculty Explorer paragraph type"
Create Faculty Explorer paragraph type for ACES

[2021-05-13 19:03] wrg20 opened #87 "Convert Menu PHP Code to Drupal Module"

[2021-05-13 22:01] nbaxley-uiuc opened #88 "#407"
Create a Spotlight content type with formatted detail page and views that can be used as a base CT for additional  versions that may bring other fields or layouts.

[2021-05-13 22:08] nbaxley-uiuc opened #89 "Spotlight Family - Detail page"
- [ ] Needs to include sidebar region/menu

![image](https://user-images.githubusercontent.com/62560479/118193690-c48bc180-b40d-11eb-9a42-d8dfb7c6b65d.png)
https://app.zeplin.io/project/6083082b532b4d1e0f670e65/screen/609d9e91cf4a296a4d1c8959

[2021-05-13 22:10] nbaxley-uiuc opened #90 "Spotlight Family - List page"
- [x] Float the image to the left of the Title, Summary, and Read More link
- [x] Make the Read more link into a button using the campus il-button class ([see below](https://github.com/web-illinois/illinois_framework_theme/issues/90#issuecomment-930512807))

![image](https://user-images.githubusercontent.com/62560479/118193895-16344c00-b40e-11eb-9e8e-ff8c8dd872ab.png)
https://app.zeplin.io/project

[2021-05-13 22:11] nbaxley-uiuc opened #91 "Spotlight Family - Single Slider Block"
![image](https://user-images.githubusercontent.com/62560479/118193988-3cf28280-b40e-11eb-9b27-b51798042530.png)
https://app.zeplin.io/project/6083082b532b4d1e0f670e65/screen/609d9e91e4d15b6df2dafdc5

[2021-05-13 22:12] nbaxley-uiuc opened #92 "Spotlight Family - Card Slider Block"
![image](https://user-images.githubusercontent.com/62560479/118194055-5a275100-b40e-11eb-87cb-1ac93bbe048d.png)
https://app.zeplin.io/project/6083082b532b4d1e0f670e65/screen/609d9e915d24696b00645ae7

[2021-05-13 22:13] nbaxley-uiuc opened #93 "Spotlight Family - Feature Block"
- [x] Add a "Read full story" that links to the detail page
- [x] Make the title and image link to the detail page
- [x] Constrain the width of the presentation to the page width

![image](https://user-images.githubusercontent.com/62560479/118194124-7fb45a80-b40e-11eb-90da-5e445ed3b42e.png)
https://app.zeplin.io/project/6083082b532b4d1e0f670e65/screen/609d9e9175d3535df1316535

[2021-05-13 22:14] nbaxley-uiuc commented on #88
Dependencies:

- [x] #89
- [x] #90
- [ ] #91
- [ ] #92
- [x] #93

[2021-05-14 14:40] magjarvis opened #94 "Icon row"

[2021-05-17 18:14] nbaxley-uiuc commented on #92
- Need to use a more portrait oriented image style.
- Can reuse the illinois_framework_theme/templates/paragraphs/paragraph-bbtemplate.html with renamed fields
- Might look for Slick Slider or some other slider library.  No preferences from Bill
- JS can be included in the moduel and attached to the TWIG files.

[2021-05-17 18:20] nbaxley-uiuc commented on #93
Create this as a view block that shows the most recent item tagged as sticky.

[2021-05-20 15:12] #94 closed, assigned to magjarvis

[2021-05-20 15:12] magjarvis commented on #94
Duplicate of Stats Bar

[2021-05-20 15:27] magjarvis opened #96 "Home page intro paragraph type"

[2021-05-21 02:52] wrg20 commented on #87
![image](https://user-images.githubusercontent.com/1544079/119075010-ab5ab600-b9b5-11eb-8848-d8d201922b15.png)
Need sharkey to reduce the z-index or adjust the drupal menu z-index.  I'll ask him.

[2021-05-21 02:58] wrg20 commented on #87
How do we change the search slot action, i.e action="/search/node"

[2021-05-21 03:11] wrg20 commented on #87
![image](https://user-images.githubusercontent.com/1544079/119076483-42c10880-b9b8-11eb-9cf7-e89f0ff62932.png)
z-index of mobile menu

[2021-05-21 14:23] magjarvis opened #98 "List Collection paragraph"

[2021-05-21 17:57] NotThatDavidCross opened #100 "ACES Directory pages"
Code related to directory lists and individual profile pages

[2021-05-24 19:33] magjarvis opened #101 "Accordion (expand/collapse) full-width paragraph"

[2021-05-25 21:21] mwllr opened #106 "li font size, line height, etc...."
The font size for list should be the same as the paragraph. It is noticeable on the pages for directory and any others that have lists and paragraph together...

Is it being pulled in or are we generating the difference?

[2021-05-25 21:22] mwllr opened #107 "remove extra text on home page"
Remove the extra text "one" showing between rich text and faculty picker on the very left...
![Screen Shot 2021-05-25 at 4 21 44 PM](https://user-images.githubusercontent.com/54747669/119570193-68159400-bd75-11eb-89b9-e2f721550846.png)

[2021-05-26 03:02] wrg20 commented on #74
@magjarvis - is this what you were talking about with the buttons aligning at the bottom?
![image](https://user-images.githubusercontent.com/1544079/119596493-e50c3200-bda4-11eb-92cd-952e1705ba3f.png)

[2021-05-26 03:48] wrg20 commented on #74
@magjarvis - try this and let me know if it works.
![image](https://user-images.githubusercontent.com/1544079/119599912-8d24f980-bdab-11eb-9ca6-1c2444a8fd79.png)

![image](https://user-images.githubusercontent.com/1544079/119599797-50f19900-bdab-11eb-806e-2ac323992544.png)

[2021-05-26 03:50] wrg20 commented on #74
@melissa - are images optional on the cards or are they required?

[2021-05-26 14:49] robgasc opened #108 "Media Image field is overridden at the template level, preventing use of config to control image style"
Steps to reproduce:

1. Add a spotlight to your site, with a Featured Image.
2. View the spotlight itself, it should be full size filling the whole screen.
3. Create a new display type for Media, called Spotlight Profile.
4. Add the new display to Media - Image, specify the use of a different image style such as Thumbnail.
5. Set the spotlight content type to render the Featured Image as the new S

[2021-05-26 21:09] robgasc commented on #108
Removed the offending file, as it appears to be unused.

[2021-05-26 21:09] #108 closed, assigned to wrg20

[2021-05-26 21:11] robgasc commented on #89
The basic version is now committed, still waiting on the menu to be added for a complete match.

[2021-05-26 21:13] robgasc commented on #90
A basic version is now committed.

[2021-05-27 14:58] mwllr commented on #101
still need tweaking to use fixed/full margins. ( looking at wmswgutierr)

[2021-05-27 21:19] lizshalley commented on #57
Need to update the subtitle to bold font and change color to white on orange and blue backgrounds and orange gradient background.

[2021-05-27 21:32] lizshalley commented on #57
left- and right-fade fingerprints do not populate on gradient backgrounds.

[2021-05-28 16:33] robgasc opened #116 "Extra text in the template views-view-unformatted.html.twig"
Line 30 has text   <p>Using new template</p>.

Gets repeated in any view that uses this template.

Fix: remove the text.

[2021-05-28 16:45] robgasc opened #117 "Page title not displaying on homepage anymore."
Have a setting on the page title block to hide from content type spotlight only, seems to be causing the page title to vanish everywhere.

[2021-05-28 16:46] robgasc commented on #117
Fix is to change the page title block to use a different filter, based on matching the url and excluding from that match.

[2021-05-28 16:48] #116 closed, assigned to robgasc

[2021-05-28 16:52] #117 closed, assigned to robgasc

[2021-05-28 17:10] robgasc commented on #107
Hey Melissa, I looked at this and it seems the text itself might be in the editor. I don't have perms to the ansc site else I'd take a closer look.

[2021-06-01 15:50] wrg20 opened #120 "Fix flexbox class"
the flexbox class requires d-flex instead of flex on the paragraphs

[2021-06-01 16:08] wrg20 opened #121 "Fingerprint left svg"
The finger print right and fingerprint both have svgs but the fingerprint left does not.

[2021-06-01 17:40] wrg20 opened #127 "manually create menu for IT Pro Forum"
The regular drupal menu system is used to ul > li > ul > li and the menu web component does not follow this.  I am working on the macro for the menu but in order to make it functional I am going to manually create the menu system.

[2021-06-04 19:21] wrg20 commented on #127
All of the changes have been made.  Closing.

[2021-06-04 19:21] #127 closed, assigned to wrg20

[2021-06-04 19:34] wrg20 opened #146 "Contact Info Paragraph"
![image](https://user-images.githubusercontent.com/1544079/120853885-efb38d80-c541-11eb-99e7-4b140e504cd4.png)

[2021-06-07 17:50] lizshalley opened #147 "fix header font weights"
h3 and h4 are heavier weight than h2 and should be the same.

![Screen Shot 2021-06-07 at 12 46 09 PM](https://user-images.githubusercontent.com/8646013/121065734-b7ed5580-c78e-11eb-9d01-3dc5f15a3e0c.png)

![Screen Shot 2021-06-07 at 12 46 01 PM](https://user-images.githubusercontent.com/8646013/121065822-cdfb1600-c78e-11eb-9e61-0d7b7bc1d2aa.png)

[2021-06-08 16:12] mwllr commented on #55
still need to remove gray outline on box background please.

[2021-06-08 19:49] mwllr commented on #61
Change h2 line -height to 1.75 rem

[2021-06-08 19:53] mwllr opened #148 "Table Styling in Body/rich Text, etc...."
@lizshalley  - Add your styling here for the tables please.

[2021-06-08 20:46] lizshalley commented on #148
zpl.io/bLq5d9d
zpl://screen?pid=608186933d2d341c92c71926&sid=60bfd6fb933740becbdc9c84

[2021-06-09 14:46] magjarvis opened #149 "Icon row paragraph"
- [x] Altgeld text for callout on gray background
- [x] 60 px padding inside top of paragraph total
- [x] 75 px padding inside bottom of paragraph total
- [x] vertical spacing between title and icons should be 20 px.
- [x] on mobile - need more vertical spacing between each icon set + 10px
- [x] need wrapping on tablet and desktop
- [x] Database backend: Remove Alignment option - Title should only

[2021-06-09 15:30] lizshalley commented on #57
all text on orange and blue backgrounds, including gradient versions, should be white.

[2021-06-09 15:45] lizshalley commented on #57
buttons should be optional for CTA

[2021-06-09 15:49] lizshalley commented on #57
title centered alignment option doesn't match body centered alignment.
![Screen Shot 2021-06-09 at 10 47 57 AM](https://user-images.githubusercontent.com/8646013/121387540-5e149900-c910-11eb-8f78-80264c5f9576.png)

[2021-06-09 17:01] mwllr commented on #70
can close this - same as issue #149

[2021-06-09 17:05] mwllr commented on #147
@lizshalley  - these will come from the components. - see https://cdn.brand.illinois.edu/toolkit/2.0/examples/stylesheets/formatting/index.html
Do we need to change those?? I think they look good.

[2021-06-09 17:06] mwllr commented on #107
has been removed either by changing to a formatted paragraph for stripped out of faculty explorer....

[2021-06-09 17:06] #107 closed, assigned to nobody

[2021-06-09 17:32] lizshalley commented on #147
@mwllr woops, sorry, didn't realize that. thanks ,they look good in the link.

[2021-06-09 19:46] #147 closed, assigned to nobody

[2021-06-10 15:29] wrg20 opened #150 "change z-index of navigation menu il-nav"
The z-index is set to 5000 and it's interfering with the z-index of the drupal administration menu system. The z-index will need to be set below 501 which is the drupal admin menu z-index.

[2021-06-10 15:52] mwllr commented on #73
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:52] mwllr commented on #57
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:52] mwllr commented on #61
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #83
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #48
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #55
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.
- [ ] tablet and mobile text box background should be 100% opaque if possible
- [ ] remove text box gray outline
- [ ] white text on orange, blue, and gradient backgrounds

[2021-06-10 15:53] mwllr commented on #74
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #36
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #98
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #149
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:53] mwllr commented on #146
Add field for spacing before paragraph: no, small, med, lg, xlg..
See Call to Action Narrow for example already added.

[2021-06-10 15:56] wrg20 commented on #150
Fixed with merge #151

[2021-06-10 15:56] #150 closed, assigned to wrg20

[2021-06-10 18:43] lizshalley commented on #148
@wrg20 Matt is going to work on this in the toolkit.

[2021-06-16 17:55] mwllr commented on #96
Need to format for the gray background.

Currently looks like:
![Screen Shot 2021-06-16 at 12 52 49 PM](https://user-images.githubusercontent.com/54747669/122268747-0f33aa00-cea2-11eb-92cf-a0b62573f3a1.png)

Needs to have blue text and button should be blue background as default and white in hoverfocus.
![Screen Shot 2021-06-16 at 12 54 12 PM](https://user-images.githubusercontent.com/54747669/122

[2021-06-16 18:00] mwllr commented on #96
Need to change up white background option for large and small text.

Currently looks like:
![Screen Shot 2021-06-16 at 12 52 47 PM](https://user-images.githubusercontent.com/54747669/122269435-d21be780-cea2-11eb-936b-4a826a6afdc9.png)

Needs to be:
gray text, blue button with orange hover/focus.
![Screen Shot 2021-06-16 at 12 59 30 PM](https://user-images.githubusercontent.com/54747669/122269380-c

[2021-06-21 19:49] lizshalley commented on #61
Turn off *Required for body text, this should be optional.

[2021-06-21 20:12] mwllr commented on #61
Add additional background color - gray.

[2021-06-21 20:14] mwllr commented on #61
- [ ] Change h2 line -height to 1.75 rem
- [x] Add field for spacing before paragraph: no, small, med, lg, xlg.. See Call to Action Narrow for example already added.
- [x] Body text should be optional, not required.
- [x] Add additional background color - gray.
- [x] Add an option for a heading/title for section - option to select left, right, center aligned.
- [x] Add double chevron after h2 [see

[2021-06-22 16:19] mwllr opened #156 "Galleria for Flickr Galleries"
Add in Galleria for flickr galleries.
We will use the folio one for the animal sciences web galleries.
@lizshalley - please put each gallery link here for Bill for the facilities pages and anywhere else we may need one.

Thanks.

[2021-06-22 16:29] lizshalley commented on #156
[Meat Science gallery](https://www.flickr.com/photos/153584475@N06/51179312039/in/album-72157719184125316) > [goes here](https://staging.ansc.illinois.edu/research-outreach/animal-sciences-facilities/meat-science-lab)
[Grein gallery](https://www.flickr.com/photos/153584475@N06/51179299329/in/album-72157719178239303) > [goes here](https://staging.ansc.illinois.edu/research-outreach/animal-sciences-

[2021-06-22 17:23] wrg20 opened #157 "Grouped Feature"
![image](https://user-images.githubusercontent.com/1544079/122971469-b3ab6580-d354-11eb-9c2e-89ef748337b7.png)

[2021-06-23 15:06] magjarvis commented on #74
Margin should be added to cards already, but let me know if I need to re-push the branch

[2021-06-23 15:17] mwllr commented on #57
- [ ] Add field for spacing before paragraph: no, small, med, lg, xlg..See Call to Action Narrow for example already added.
- [x] on orange background, text should be white for sub title and body.
- [x] on orange backgorund, the centering shows that the title is not centering when this is selected.
- [x] on blue background - need to have subtitle show as white text.
- [x] last example on page with

[2021-06-23 17:15] mwllr commented on #50
- [x] page margins need set - (1600px margins for 1200+)- NOT DOING NOW.....
- [x] mobile - go to totally centerd for all options?
- [x] mobile - background go all the way to screen edge, no white border.
- [x] tablet - alignment options - once stacked, go to centered?

[2021-06-23 17:15] mwllr commented on #50
![Screen Shot 2021-06-23 at 12 15 15 PM](https://user-images.githubusercontent.com/54747669/123140280-b83b5100-d41c-11eb-98c8-9eef3a3e236e.png)

![Screen Shot 2021-06-23 at 12 15 46 PM](https://user-images.githubusercontent.com/54747669/123140328-c6896d00-d41c-11eb-9651-8574de8269f8.png)

[2021-06-24 17:58] mwllr commented on #73
- [ ] Add field for spacing before no, small, med, lg... - see call to action narrow for example.
- [ ] one column of text shouldn't go wider than 900 pixels wide and should be centered.
- [ ] two columns can go to 1200px wide max. and should stack when they are smaller than 600px.
- [ ] Add option for gray background 100% of screen width. #f4f4f4 is gray background color.

[2021-06-24 18:05] mwllr commented on #57
on drupal back end:

1. Add the spacing (none, s, m, lg...) as the very first thing.
2. Then move layout next,
3. then: background,
4. fingerprint,
5. icon,
6. title, (unless title has to come after subtitle to display correctly.)
7. subtitle,
8. body,
9. buttons.

![Screen Shot 2021-06-24 at 1 01 16 PM](https://user-images.githubusercontent.com/54747669/123311368-ba6ce080-d4ec-11eb-9ab9-08c0ac731

[2021-06-24 18:21] mwllr commented on #74
- [x] Title and subtitle should be centered since the cards are always centered.
- [ ] page layout - once we are above 992, cards can go out to 1600 pixels wide with 4 cards. keep the minimum 50px margin on both sides.  (same as clickable cards)
![Screen Shot 2021-06-24 at 1 11 11 PM](https://user-images.githubusercontent.com/54747669/123312270-b7bebb00-d4ed-11eb-9a41-3e4cc5e26b3b.png)
- [x] tight

[2021-06-25 20:01] wrg20 opened #160 "Adjust padding for regions"
use the var --il-content-margin for site margins

[2021-06-29 18:12] #160 closed, assigned to wrg20

[2021-06-30 17:35] wrg20 commented on #156
OK.  I have galleria installed.  They will need to be placed via blocks and it's manual process that requires a developer at this point.   So you'll need to tell me what pages to place each gallery @lizshalley and @mwllr

[2021-06-30 17:38] wrg20 commented on #156
The flickr integration will require people to create a flickr account and pull an API key unless we can let the whole University use our API key.  I don't know.

[2021-06-30 20:00] lizshalley commented on #156
@wrg20 ^^^ updated!

[2021-07-01 14:37] lizshalley commented on #36
- [ ] all headlines and body copy should be white on orange and blue, and orange and blue gradient backgrounds.
- [ ] body copy should be white on orange background
- [ ] tablet/mobile, can buttons be same width when they stack?

![Test - Feature Split  Animal Sciences  University of Illinois-1](https://user-images.githubusercontent.com/8646013/124161739-64a3b580-da63-11eb-9b5f-68b12a5027ad.jpeg)

[2021-07-01 16:59] lizshalley commented on #48
- [ ] white copy on orange, blue, and gradient backgrounds
- [ ] video does not stack with text box on mobile
![TEST - Feature Video  Animal Sciences  University of Illinois](https://user-images.githubusercontent.com/8646013/124162166-d54ad200-da63-11eb-843b-f2ab3784650d.jpeg)

[2021-07-01 17:05] lizshalley commented on #96
- [x] thumbprint is cut off on mobile
- [x] button alignment on mobile should match text/title

![Test - Page Intro  Animal Sciences  University of Illinois](https://user-images.githubusercontent.com/8646013/124162863-949f8880-da64-11eb-8a16-28760688dfae.jpeg)

[2021-07-01 20:40] lizshalley commented on #98
Add title and subtitle options for paragraph section.

[2021-07-02 14:50] lizshalley commented on #98
looks okay on sample list collection page when images are used, but on page with no image, text wraps for some reason.

[https://staging.ansc.illinois.edu/testing/test-list-collection](![Screen Shot 2021-07-02 at 9 48 28 AM](https://user-images.githubusercontent.com/8646013/124292141-e0146e00-db1a-11eb-9976-c3f49e43663c.png))

[https://staging.ansc.illinois.edu/animal-sciences-extension](![Screen

[2021-07-02 14:54] lizshalley commented on #98
on mobile, width for text should match image.

![Test - List Collection  Animal Sciences  University of Illinois](https://user-images.githubusercontent.com/8646013/124292590-5c0eb600-db1b-11eb-8c8a-ae51ddadcf64.jpeg)

[2021-07-02 14:54] lizshalley commented on #98
on mobile, when image isn't used, text gets cut off.

![Animal Sciences Extension  Animal Sciences  University of Illinois](https://user-images.githubusercontent.com/8646013/124292719-82ccec80-db1b-11eb-823f-57a6c566f83c.jpeg)

[2021-07-02 15:19] lizshalley commented on #73
mobile version needs smaller margins/padding.

![Test - Rich Text  Animal Sciences  University of Illinois](https://user-images.githubusercontent.com/8646013/124295836-e99fd500-db1e-11eb-84f6-f473defd7050.jpeg)

[2021-07-07 14:43] wrg20 opened #165 "Remove Big C list Collection from config"

[2021-07-07 15:33] #70 closed, assigned to wrg20

[2021-07-07 16:26] lizshalley commented on #73
on tablet, 2 columns should stack.
![Screen Shot 2021-07-07 at 11 24 29 AM](https://user-images.githubusercontent.com/8646013/124795865-26503f80-df16-11eb-8ff6-94994aeeb9e9.png)

[2021-07-07 16:34] mwllr commented on #146
TESTING (if you can give example page and screen shots, please do so!):
Share your feedback in a new comment and check off the part you have done in this comment:
- [ ] Usability - front end (how does this behave/display?)
- [ ] Usability - back end (intuitive? easy/hard to use?)
- [ ] Accessibility - (FAE site/run on pages with these paragraph types)

Browser Testing (Please be descriptive in bro

[2021-07-07 19:31] magjarvis commented on #98
Changes pushed to git:
- added field for spacing
- added title and subtitle options on paragraph
- fixed alignment issues with text
- added mobile styles

Needs review:
- styling for paragraph title and subtitle

[2021-07-07 21:29] mwllr commented on #36
TESTING (if you can give example page and screen shots, please do so!):
Share your feedback in a new comment and check off the part you have done in this comment:
- [ ] Usability - front end (how does this behave/display?)
- [ ] Usability - back end (intuitive? easy/hard to use?)
- [ ] Accessibility - (FAE site/run on pages with these paragraph types)

Browser Testing (Please be descriptive in bro

[2021-07-08 14:57] magjarvis commented on #57
Changes on latest push to git:

- CSS button styles for mobile: buttons will go full width on mobile, added 0.5rem of space between buttons
- Backend changes: rearranged form display to reflect above changes

[2021-07-08 15:45] magjarvis commented on #74
@mwllr right now there is the option to choose between left or center aligned for the title. Are we getting rid of that option and just center-aligning the header/subhead by default?

[2021-07-08 15:50] magjarvis commented on #74
@mwllr also, cards are currently limited to 3 per row, should I expand that to allow users to create an unlimited amount of cards that will wrap as they fill the space?

[2021-07-08 17:55] wrg20 opened #170 "Remove Grouped Feature paragraph"
There are two paragraphs for this.  grouped_feature and feature_grouped.  Remove grouped feature.

[2021-07-08 18:00] wrg20 commented on #170
The paragraph was removed.

[2021-07-08 18:00] #170 closed, assigned to wrg20

[2021-07-08 18:04] wrg20 commented on #157
Remove fingerprint, callout and tagline fields

[2021-07-08 18:04] wrg20 commented on #157
backend: move buttons above body, move body above photos

[2021-07-09 14:09] wrg20 commented on #157
OK.  Made all of those changes for the import

[2021-07-09 16:37] magjarvis commented on #74
Pushed to git:

Config changes
- Changed from limited to unlimited
- Removed layout option
CSS changes
- fixed spacing issues within cards content
- title and subtitle are now centered by default

[2021-07-09 17:11] magjarvis commented on #98
Updated text/image alignment. Updated image style.

[2021-07-09 20:30] mwllr commented on #149
- [ ] mobile stacking of icons need more space between icons.

![Screen Shot 2021-07-09 at 3 28 25 PM](https://user-images.githubusercontent.com/54747669/125132871-930c3b00-e0ca-11eb-8c0c-2e13e2f7fdc2.png)

[2021-07-09 20:35] mwllr commented on #149
- [ ] Need white callout text on the gray background. Orange text works on white and gray backgrounds.
- [ ] set margins to max out at 1200.
- [ ] stacking should occur when we have more than 5 or so icons... see: https://staging.ansc.illinois.edu/testing/test-icon-row

[2021-07-09 20:35] nbaxley-uiuc opened #175 "Title styling needs to be made generic for all content types"
Currently the page title field is being styled specifically for the Content Page CT.  We should instead make the styling generic for all Content Types and use the Page Title block if possible.  The template file in question is /templates/fields/field--node--title--content-page.html.twig.

[2021-07-09 20:44] mwllr commented on #149
Need to see white on gray, then look at link of text color on gray background. Is the med blue okay? do we want something different?
![Screen Shot 2021-07-09 at 3 43 58 PM](https://user-images.githubusercontent.com/54747669/125134131-8daff000-e0cc-11eb-9eb7-f4ded7886e6b.png)

[2021-07-09 20:46] mwllr commented on #98
image style needs to not be square - Maggie may have already fixed ;)

![Screen Shot 2021-07-09 at 3 45 53 PM](https://user-images.githubusercontent.com/54747669/125134325-d8ca0300-e0cc-11eb-819a-6b9cf6247c8a.png)
![Screen Shot 2021-07-09 at 3 45 40 PM](https://user-images.githubusercontent.com/54747669/125134336-dbc4f380-e0cc-11eb-9d17-ce93c627cf8f.png)

[2021-07-09 21:11] wrg20 commented on #149
Wrapping of icons can be done by changing these rules on these classes.

![image](https://user-images.githubusercontent.com/1544079/125136403-5fccaa80-e0d0-11eb-9acf-0526502abec2.png)

![image](https://user-images.githubusercontent.com/1544079/125136415-6529f500-e0d0-11eb-8eef-86ad55f3b0bd.png)

[2021-07-09 23:28] mwllr commented on #146
Need to add titles to section - in the back end, but not displaying.  centered over section. same as h2 for site overall.
Should look like:
![Screen Shot 2021-07-09 at 6 25 44 PM](https://user-images.githubusercontent.com/54747669/125144365-42eda280-e0e3-11eb-8717-e29565b9c9c9.png)
Also, please match the spacing for the title, job, address.
The name should only be 28px.

[2021-07-12 14:59] lizshalley commented on #98
tighten up spacing between items with no image: [https://staging.ansc.illinois.edu/about/what-we-do-why-it-matters
](https://staging.ansc.illinois.edu/about/what-we-do-why-it-matters)

![Screen Shot 2021-07-12 at 9 58 48 AM](https://user-images.githubusercontent.com/8646013/125310284-0e9eff80-e2f8-11eb-9953-9416ca79de95.png)

[2021-07-12 16:05] lizshalley commented on #149
add FAQ icon: [https://toolkit.marketing.web.illinois.edu/icons/
![Screen Shot 2021-07-12 at 11 05 02 AM](https://user-images.githubusercontent.com/8646013/125320206-17e09a00-e301-11eb-851d-32fd5b649ad4.png)
](url)

[2021-07-12 20:00] mwllr commented on #96
- [x] Can we get the buttons to align without the extra space left/right also? Above example - button should align right with "."
- [x] Also want to change the text on white background to be blue. My apologies for changing this one. Just doesn't look right.
- [x] On mobile, just center all content and buttons regardless of left/right/center.

[2021-07-12 20:28] mwllr commented on #96
@magjarvis  - ready for your magic please.

[2021-07-12 20:28] lizshalley commented on #157
Make both buttons orange with white hover state. blue ghost button looks like it's disabled.

[2021-07-12 20:31] lizshalley commented on #146
change image size to 250 x 333px. Right now I get a minimum size upload of 500 x 500.

[2021-07-12 21:31] mwllr commented on #57
- [x] change font color to white on all orange backgrounds.
- [x] check button spacing/alignment on mobile. need vertical spacing between.
- [x] on gray background, change subtitle to blue instead of gray

[2021-07-12 21:31] mwllr commented on #57
![Screen Shot 2021-07-12 at 4 30 23 PM](https://user-images.githubusercontent.com/54747669/125358552-a8819f00-e32e-11eb-9802-8cc7a0c0cdd3.png)

[2021-07-12 21:33] mwllr opened #177 "Paragraph Permissions"
Please add view permissions for all users for all paragraph content types.

[2021-07-12 21:36] mwllr opened #178 "Header"
Page title next to block I doesn't have the correct font weight coming through.
![Screen Shot 2021-07-12 at 4 35 47 PM](https://user-images.githubusercontent.com/54747669/125359024-52f9c200-e32f-11eb-98f0-7119739ea370.png)

[2021-07-13 13:37] trubach commented on #177
Hey @mwllr , just for clarification on my part, are you not seeing the paragraphs when logged in under the "Content Manager" role? That's the only other role we have out of the box besides admin.

[2021-07-13 15:31] trubach commented on #177
The issue is that out of the box, anonymous users can't view paragraphs. Permission has to be granted to view each paragraph type individually.

Solution 1: The Framework has the "Paragraph Type Permissions" module enabled by default. It requires that each paragraph type be given explicit permission to view, which might be a bigger headache than it's worth. If the module isn't enabled, then anyone

[2021-07-13 15:41] wrg20 commented on #146
250 max width...instead of 350px for portrait view for now.

[2021-07-13 17:00] NotThatDavidCross opened #179 "Styling for Giving pages"

[2021-07-14 13:36] trubach commented on #177
This has been resolved with the [this commit to the profile repository](https://github.com/web-illinois/illinois_framework_profile/pull/11/commits/bf92385ae8d480ca30a8cf531389f9fe199cec64). The "Paragraph Type Permissions" module is no longer enabled by default, which gives all users the ability to view the paragraph if the node is published.

[2021-07-14 13:36] #177 closed, assigned to trubach

[2021-07-14 18:26] mwllr opened #183 "Page Titles"
{page title} | {college} | UIUC

Example: About Us | College of Agricultural, Consumer and Environmental Sciences | UIUC

[2021-07-14 18:53] lizshalley commented on #146
Email field doesn't link to email address.

[2021-07-15 19:28] #165 closed, assigned to trubach

[2021-07-15 20:21] trubach opened #187 "Hide "Content" paragraph types from "add paragraph" dropdown in content types"
The content types Content Page, Blog, News, and Spotlight have paragraphs available to them. When clicking the "Add Paragraph" button, the helper "content" paragraphs show up. For example, there's a "Rich Text" and "Rich Text Content" paragraph available. The "Rich Text Content" paragraph shouldn't be available to the user.

![image](https://user-images.githubusercontent.com/56594946/125852324-dc7

[2021-07-15 20:36] #187 closed, assigned to trubach

[2021-07-16 16:28] magjarvis commented on #149
![icon-wrap](https://user-images.githubusercontent.com/8452264/125979373-b466077d-1c45-4920-a1e9-26d8a0689419.png)
this is how 7 icons are wrapping if we add flex-wrap, 6 icons wrap to three rows of two. is that what we still want to do? Or should we limit the number of icons per paragraph?

[2021-07-16 16:31] lizshalley commented on #149
my vote would be to limit to 5, @mwllr?

[2021-07-16 16:32] magjarvis commented on #149
White text on gray background fails all accessibility checks for contrast. We could do illini blue callout text? Or Altgeld orange passes AA standards for the callout text if we want to use that.
![icon-blue](https://user-images.githubusercontent.com/8452264/125979963-aea11820-1f99-4cf8-ba97-b50d8b9293ef.png)

[2021-07-16 16:33] magjarvis commented on #149
![icons-altgeld](https://user-images.githubusercontent.com/8452264/125980062-9f664bd3-c404-429e-bb20-b16417c31aff.png)
Altgeld callout text

[2021-07-16 16:39] magjarvis commented on #149
![icon-2rows](https://user-images.githubusercontent.com/8452264/125980678-76118887-4e3f-475d-88e4-173f7611da31.png)

So, here is two separate icon row paragraphs on top of each other. top row 5, bottom row 2. With this option you also have the additional option of adding spacing between the two rows

[2021-07-16 16:40] magjarvis commented on #149
Obviously, it would look better to do 4 on top of 3, but it would be up to the user, so we might end up with something like the above

[2021-07-16 18:13] lizshalley commented on #149
I was thinking 5 max... as in no more than 5 total items per paragraph type. that's probably a design group or @mwllr decision.

[2021-07-19 15:53] wrg20 opened #190 "Side Navigation"
Implement side navigation content type.

[2021-07-19 20:09] magjarvis commented on #61
FYI, working on above edits for this paragraph

[2021-07-20 20:31] magjarvis commented on #61
pushed edits to git, I might need @wrg20 to help with adding an if statement to the twig file that will only show the body field when it has a value

[2021-07-21 18:45] wrg20 opened #194 "Create new content type Section Page"
The section page will be a replica of the current content page but with different fields.

[2021-07-22 15:14] #61 closed, assigned to wrg20

[2021-07-22 17:26] NotThatDavidCross opened #198 "Create Galleria paragraph type"

[2021-07-23 15:49] wrg20 opened #204 "Big Button Alignment vertical instead of horizontal"
![image](https://user-images.githubusercontent.com/1544079/126808044-291bf2eb-aac3-47b1-bcb2-b572595b26ea.png)

[2021-07-23 15:59] wrg20 commented on #204
Merge #207 closes this issue

[2021-07-23 15:59] #204 closed, assigned to wrg20

[2021-07-23 17:12] wrg20 commented on #194
was able to create a checkbox in the content page layout to mimic this option

[2021-07-23 17:12] #194 closed, assigned to wrg20

[2021-07-23 22:12] wrg20 commented on #183
@mwllr - right now we have the Page Title | Site Name | University of Illinois - Not all sites will have an associated college but they will all have a site name

![image](https://user-images.githubusercontent.com/1544079/126846295-e718da4b-0ec6-4cb8-b57d-642d1dbec8c3.png)

[2021-07-23 22:16] wrg20 commented on #183
<title>{{ head_title|safe_join(' | ') }} :: University of Illinois</title>  in the html.html.twig file

 * - head_title: List of text elements that make up the head_title variable.
 *

[2021-07-26 18:35] lizshalley commented on #57
icon does not show up
![Screen Shot 2021-07-26 at 1 34 56 PM](https://user-images.githubusercontent.com/8646013/127040688-5571fb78-7436-44bb-a698-79979e4a17eb.png)

[2021-07-26 19:57] wrg20 opened #215 "Add Rich Text Paragraph back"

[2021-07-26 21:21] mwllr opened #218 "h2 change"
Change h2:
![Screen Shot 2021-07-26 at 2 42 08 PM](https://user-images.githubusercontent.com/54747669/127060805-b27f5604-5686-4a15-8fc3-a2e92903dba2.png)

[2021-07-26 21:55] mwllr opened #219 "button font size"
If we are using components, we are good to go, if not....

As a global element - button font size should increase from 18-19px.
Same padding and such, just increase font size. Thanks.

[2021-07-27 21:48] wrg20 opened #224 "Section Hero Paragraph"
![image](https://user-images.githubusercontent.com/1544079/127232014-574a84ba-265a-460b-9002-a10cf0395292.png)
![image](https://user-images.githubusercontent.com/1544079/127232032-c5a9e7a6-3849-4a8f-b879-705b32e1aa41.png)

[2021-07-27 22:00] wrg20 commented on #224
Created the configuration for the section hero paragraph with merge #225

[2021-07-28 05:03] wrg20 opened #226 "Big Buttons paragraph type goes off the page"
The big buttons cols run off the page and don't wrap within the container.
![image](https://user-images.githubusercontent.com/1544079/127266601-0b0428d0-447e-41d7-9ddb-536ade5659e9.png)

[2021-07-28 05:12] #226 closed, assigned to wrg20

[2021-07-28 05:12] wrg20 opened #228 "Tabs Section needs to be contained"
![image](https://user-images.githubusercontent.com/1544079/127267368-852c8733-e4d0-4bb2-bf9a-a2c2e3e697b4.png)

[2021-07-28 05:22] #228 closed, assigned to wrg20

[2021-07-28 17:41] wrg20 commented on #224
hard limit was at 4800 ...moved it down to 600

[2021-07-28 19:48] #215 closed, assigned to wrg20

[2021-07-28 19:49] wrg20 opened #234 "Add body section to il-content area on content pages"

[2021-07-28 21:55] mwllr commented on #57
- [ ] on orange gradient, subtitle needs to be white.  --  https://dev.ansc.illinois.edu/academics
- [ ] on mobile, buttons should not extend any bigger than they are on desktop or tablet.
- [ ] add common spacing between buttons: 30px
- [ ] when using icon, spacing needs fixed. icon should be right aligned to left of text.
- [ ] icons on blue gradient should be white, not orange.

[2021-07-29 13:51] mwllr commented on #98
List Collection uses on staging: https://staging.ansc.illinois.edu/about/animal-sciences-ambassadors
https://staging.ansc.illinois.edu/student-life/student-organizations

[2021-07-29 13:59] mwllr commented on #98
- [x] need to be able to format a button in the body section.
- [x] use white as first background instead of gray.

[2021-07-29 15:29] wrg20 commented on #234
Body has been added.

[2021-07-29 15:29] #234 closed, assigned to wrg20

[2021-07-29 15:30] wrg20 opened #238 "call to action twig error with image style"
Warning: pathinfo() expects parameter 1 to be string, array given in Drupal\image\Entity\ImageStyle->supportsUri() (line 380 of core/modules/image/src/Entity/ImageStyle.php).

Drupal\image\Entity\ImageStyle->supportsUri(Array) (Line: 1063)
Drupal\twig_tweak\TwigExtension->imageStyle(Array, 'paragraphs_image_large') (Line: 103)
__TwigTemplate_58157241c324c2f1d98024fff2ed09e4d9523119df0b56aa1bc9692b

[2021-07-29 22:08] wrg20 opened #241 "Add config for text formats and editors"
Add the configuration for the text formats and editors

[2021-07-30 17:01] wrg20 commented on #238
edited the image so it doesn't use the twig tweak style but instead uses img src

[2021-07-30 17:01] #238 closed, assigned to wrg20

[2021-07-30 17:04] wrg20 commented on #146
Contact content type issue: when image is left and text is right, image overlaps onto right side. But when image is right and text is left, it's fine. Example: https://staging.ansc.illinois.edu/about/facilities/dixon-springs-agricultural-center

Minimum photo dimensions are set to 500 x 500 so I had adjust this image to fit those parameters

[2021-07-30 17:35] wrg20 commented on #178
the toolkit had a last-child rule and we had put in our notification script div as the last child so the font weight wasn't being applied...I removed the script from the header and added it just after.

[2021-07-30 17:39] #178 closed, assigned to wrg20

[2021-07-30 19:13] wrg20 opened #246 "Adjust column widths with side navigation"
Adjust the columns so they start at medium down to small

[2021-08-02 15:07] wrg20 commented on #224
Warning: file_get_contents(themes/contrib/illinois_framework_theme/js/paragraph--hero-section.js): failed to open stream: No such file or directory in Drupal\Core\Asset\JsOptimizer->optimize() (line 25 of core/lib/Drupal/Core/Asset/JsOptimizer.php).
Drupal\Core\Asset\JsOptimizer->optimize(Array) (Line: 130)
Drupal\Core\Asset\JsCollectionOptimizer->optimize(Array) (Line: 298)
Drupal\Core\Asset\Asse

[2021-08-02 15:09] wrg20 commented on #224
Issue above fixed with merge #249

[2021-08-02 20:03] wrg20 opened #251 "Remove the body requirement for the big button content type"

[2021-08-02 20:22] wrg20 commented on #251
Changed the required field from true to false in the illinois framework core config install files

[2021-08-02 20:22] #251 closed, assigned to wrg20

[2021-08-02 20:27] wrg20 commented on #246
Adjustments made with pull request #250

[2021-08-02 20:36] mwllr commented on #98
- [ ] entries that don't use images should use the entire width (see last 3 ambassadors - the text block can be wider.)
- [ ] photos are squished next to side nav.

[2021-08-02 20:42] mwllr opened #252 "Big Buttons/Clickable Cards"
- [ ] chevron weight - change to 500
- [ ] inside card title - font weight to 600
- [ ] change to 30px of space between photo and title
- [ ] should only be 10px of margin between title and body
- [ ] Should be 45px of space after body before orange line at bottom of card.
- [ ] on white and blue cards, the bottom of card thick line should always be orange, not blue.
- [ ] should have padding 60 t

[2021-08-02 20:52] wrg20 opened #253 "Libraries Error"
Notice: Undefined offset: 1 in Drupal\Core\Asset\LibraryDependencyResolver->doGetDependencies() (line 53 of core/lib/Drupal/Core/Asset/LibraryDependencyResolver.php).

2:49
Notice: Undefined offset: 1 in Drupal\Core\Asset\LibraryDependencyResolver->doGetDependencies() (line 53 of core/lib/Drupal/Core/Asset/LibraryDependencyResolver.php).

[2021-08-02 20:53] mwllr commented on #149
- [x] Altgeld text for callout on gray background
- [x] 60 px padding inside top of paragraph
- [x] 75 px padding inside bottom of paragraph
- [x] spacing between title and icons should be 20 px.
- [x] on mobile - need more vertical spacing between each icon set + 10px
- [x] need wrapping on tablet and desktop
- [x] Database backend: Title should only center, remove option for text align left.
- [

[2021-08-02 21:02] mwllr commented on #57
![Screen Shot 2021-08-02 at 4 01 56 PM](https://user-images.githubusercontent.com/54747669/127923403-d9412edd-58bd-4361-9a12-8708a628a3b1.png)

[2021-08-02 21:03] mwllr commented on #57
![Screen Shot 2021-08-02 at 4 02 46 PM](https://user-images.githubusercontent.com/54747669/127923508-12ef4a9e-b3cf-45e0-a6df-1ed5c684e83d.png)

[2021-08-02 21:04] mwllr commented on #57
![Screen Shot 2021-08-02 at 4 03 36 PM](https://user-images.githubusercontent.com/54747669/127923600-7632beed-2e41-4505-9ef9-ac9556287ef7.png)

[2021-08-02 21:04] wrg20 commented on #253
Some libraries were included in the .info.yml file that did not need to be required on every page.

[2021-08-02 21:04] #253 closed, assigned to wrg20

[2021-08-02 21:09] mwllr opened #255 "Content Page"
Move title to right of side navigation. Align top of side nav with top of page title.

Similar to this mockup of old side navigation, but will align top of page title with top of side nav:
![Screen Shot 2021-08-02 at 4 08 40 PM](https://user-images.githubusercontent.com/54747669/127924125-d0f13862-3a5c-49c7-8348-145cef98503e.png)

[2021-08-02 21:14] mwllr opened #256 "main nav link styling"
Remove the bootstrap overwriting of the main nav links. News and Extension shouldn't be a different color and shouldn't be underlined.
Should look like the rest, but without a chevron.
![Screen Shot 2021-08-02 at 4 14 18 PM](https://user-images.githubusercontent.com/54747669/127924704-08a21b59-85da-4269-b441-37055bc9cc9f.png)

[2021-08-02 21:19] mwllr opened #257 "buttons"
all buttons should be 48px tall. 5px corner radius, 19px font size, and should show up correctly in rich text, body, etc.... once they accidentally get put in a p tag, they don't work.

[2021-08-02 22:10] wrg20 opened #258 "move title on side navigation pages"
Move the title to the content section of the page if the side navigation is present.
![image](https://user-images.githubusercontent.com/1544079/127930128-24600d22-4d62-4cb3-a282-33570110d0bb.png)

[2021-08-03 14:33] wrg20 commented on #246
The proposed adjustment didn't work as planned...need to figure out a different method.

[2021-08-03 20:30] mwllr opened #261 "Footer - extra space above second column of lists"
Remove extra space above College Resources. Should align vertically with Department Resources.
![Screen Shot 2021-08-03 at 3 29 40 PM](https://user-images.githubusercontent.com/54747669/128081840-c5d5775e-b0c4-4979-8d56-dd01f57c8b80.png)

[2021-08-03 20:36] mwllr commented on #101
Closing this for now. Adding accordions back in after launching ANSC.

[2021-08-03 20:36] #101 closed, assigned to magjarvis

[2021-08-04 05:29] wrg20 opened #263 "Fixed Width Overwriting width"
![image](https://user-images.githubusercontent.com/1544079/128127032-1fc7fdf1-0d34-4d66-9a6c-c78f51589a43.png)
![image](https://user-images.githubusercontent.com/1544079/128127062-4ab675ca-334d-4d4d-bd3c-7138bd48b2db.png)

[2021-08-04 15:44] magjarvis opened #265 "News Content Type"

[2021-08-04 16:00] mwllr commented on #261
Also, shouldn't have all the extra space after the listss and above the google language button.
Should be more space below the google button. Google button should act like the next paragraph in one of those lists.

[2021-08-04 16:01] mwllr commented on #156
Add in the ability to have a title within the paragraph type. Use h2 styling of site overall.

[2021-08-04 16:38] mwllr commented on #60
done.

[2021-08-04 16:38] #60 closed, assigned to nobody

[2021-08-04 16:38] mwllr commented on #82
done.

[2021-08-04 16:38] #82 closed, assigned to wrg20

[2021-08-04 16:40] #106 closed, assigned to nobody

[2021-08-04 16:42] #179 closed, assigned to NotThatDavidCross

[2021-08-04 19:36] wrg20 opened #267 "Hero Paragraph"
![image](https://user-images.githubusercontent.com/1544079/128244040-28d4e3ac-9daa-445a-838a-52a0b22fc405.png)
![image](https://user-images.githubusercontent.com/1544079/128244087-8e6fe898-297a-4b8a-8dd7-36122677b6d0.png)

[2021-08-04 21:28] mwllr commented on #263
Looks marvelous!
![Screen Shot 2021-08-04 at 4 27 22 PM](https://user-images.githubusercontent.com/54747669/128257193-15c1b898-7ce4-4651-a912-f8100891c1d8.png)

[2021-08-04 21:30] mwllr commented on #198
Created and working. New issue with a tweak added.

[2021-08-04 21:30] #198 closed, assigned to NotThatDavidCross

[2021-08-04 21:34] mwllr commented on #183
Can we remove the :: before University of Illinois and change to UIUC

should be:  {page title} | {college} | UIUC
Example: Welcome to Animal Sciences | Animal Sciences | UIUC

[2021-08-04 21:35] mwllr commented on #37
fixed once we added in the header components from cdn.

[2021-08-04 21:35] #37 closed

[2021-08-04 21:36] #16 closed

[2021-08-04 21:37] mwllr commented on #15
Still need to remove bootstrap code overwriting the main styling for the buttons without sub-navigation items.

[2021-08-04 21:40] wrg20 commented on #224
Section hero next to side navigation will need to be adjusted.
![image](https://user-images.githubusercontent.com/1544079/128258655-28f5a6f6-7fd4-46fe-9d5f-4c410db95d3c.png)

[2021-08-04 22:15] mwllr opened #271 "Search functionality & styling"
Add search for ANSC

[2021-08-04 22:16] mwllr opened #272 "Google Analytics"
Add google analytics for ANSC

[2021-08-04 22:18] mwllr opened #273 "Test Giving with UIF"

[2021-08-05 16:28] mwllr commented on #83
department explorers are used on home, future, visit and are all full width.
directory explorer is used both full and with side nav.
Grad Degree are always full width.

[2021-08-05 17:02] mwllr opened #277 "Need to change config for cp and internships"
Gave Robbie list of items that need to be changed in the main repo for spotlight including:
1. Pathauto
2. Required Fields
3. Order

[2021-08-05 17:03] #120 closed, assigned to wrg20

[2021-08-05 18:11] wrg20 opened #278 "Adjust side navigation block configuration"

[2021-08-05 18:23] wrg20 opened #280 "remove accordion js from theme library"
The accordion.js file is causing a JS error.  We will revisit it later.  For now we will comment it out.

[2021-08-05 21:36] mwllr commented on #255
closing - same as move title on side navigation pages #258

[2021-08-05 21:36] #255 closed, assigned to nobody

[2021-08-05 21:39] mwllr commented on #15
closing - same as #256

[2021-08-05 21:39] #15 closed

[2021-08-05 21:40] #87 closed, assigned to wrg20

[2021-08-05 21:40] #14 closed

[2021-08-05 21:55] mwllr opened #283 "Width of Side Navigation"
Start side navigation width at 285px instead of 350px.
Remove extra indenting ont undergraduate degrees, experiencial, etc in this example on left. Right is component. We must be overwriting the styles....
Also, remove style overwriting on main item (Academics in this case).
Current page should also be orange, not black.
![Screen Shot 2021-08-05 at 4 53 38 PM](https://user-images.githubusercontent

[2021-08-06 14:59] mwllr opened #285 "list styling body and rich text"
list styling should be same as body size.
https://staging.ansc.illinois.edu/future-students/career-possibilities

[2021-08-06 16:35] mwllr opened #286 "space above footer"
need to remove white space above footer when solid color blocks butt up next to it.

[2021-08-06 18:28] wrg20 opened #287 "Theme missing from libraries include for section hero"

[2021-08-06 18:32] #287 closed, assigned to wrg20

[2021-08-09 14:50] wrg20 opened #292 "hero z-index"

[2021-08-09 16:02] #292 closed, assigned to wrg20

[2021-08-09 16:02] wrg20 opened #295 "Remove whitespace above hero"

[2021-08-09 16:02] wrg20 commented on #295
![image](https://user-images.githubusercontent.com/1544079/128737357-98a48bb6-b3b8-451c-a785-3ec9b9c12020.png)

[2021-08-09 16:34] wrg20 opened #297 "Quickedit js error"
The quickedit js can't find the id for the side navigation item.
https://www.drupal.org/project/drupal/issues/2978799

[2021-08-09 17:24] mwllr opened #299 "Contact Us Page"
https://staging.ansc.illinois.edu/about/contact-us
-all whacked out with coding/styling/buttons.

[2021-08-09 17:29] mwllr opened #301 "side nav / # of paragraphs"
need to add 0 or adjust so 1 is the body of page, then 2 is the first paragraph added, etc...

[2021-08-09 17:43] mwllr opened #302 "making images inline"
Need the ability to apply a style to an image to make it float left or right and add padding in WYSIWYG, not through full html.

[2021-08-09 18:15] wrg20 commented on #297
resolved when moving css and js to the main libraries file....still a drupal core issue that is being patched.

[2021-08-09 18:15] #297 closed, assigned to wrg20

[2021-08-09 18:31] wrg20 commented on #295
Fixed by only applying the rule when logged-in class is present on the body

[2021-08-09 18:31] #295 closed, assigned to wrg20

[2021-08-09 18:50] wrg20 commented on #183
The pages have been updated with | UIUC

[2021-08-09 18:50] #183 closed, assigned to wrg20

[2021-08-09 19:21] mwllr opened #306 "Side Navigation behavior"
When on About/Facilities page - side nav is correct.
![Screen Shot 2021-08-09 at 2 19 04 PM](https://user-images.githubusercontent.com/54747669/128761996-974a936c-ffdf-406d-9f9f-5a4b42e247c4.png)

------
When on a facilities page (next level down), main section page in side nav changes.... Shouldn't do this. Can we fix?
![Screen Shot 2021-08-09 at 2 20 21 PM](https://user-images.githubusercontent.

[2021-08-09 20:02] mwllr commented on #190
I believe this is done.

[2021-08-09 20:02] mwllr commented on #246
@wrg20 I believe this is done overall or do you still have single instances to finish up?

[2021-08-09 20:04] mwllr commented on #219
@wrg20 - is the done/correct or need to be fixed??

[2021-08-09 20:10] mwllr commented on #277
ALL:		h2: properties are at https://cdn.brand.illinois.edu/toolkit/dev/examples/stylesheets/formatting/index.html

	**SHOW STOPPERS - NEED BY COMMITTED BY TUESDAY AT LUNCH.
	(Melissa would love to see before then if possible)

- [ ] CP/Interns	**	able to put a block at the bottom of content page with body text - CP & Intern

- [ ] CP - pretty url /future-students/career-possibilities/{title}
- [ ]

[2021-08-09 20:27] mwllr opened #310 "Add redirects"
Melissa will attach the list of all redirects...

[2021-08-09 20:34] mwllr commented on #146
- [x] change button color to blue on the gray background
- [x] photos should stack on tablet/mobile
- [x] section title not showing - in backend, just not showing. should match orange h2.
- [x] make image size 250 max width...instead of 350px for portrait view for now.
- [x] when showing next to side nav, they overlap.
![Screen Shot 2021-08-09 at 3 32 58 PM](https://user-images.githubusercontent.c

[2021-08-09 20:36] mwllr opened #311 "Use components 2.1"

[2021-08-09 20:40] mwllr commented on #267
- [x] remove space below nav before hero. should butt up to each other....

[2021-08-09 20:48] mwllr commented on #83
- [ ] department explorer (used on home page) - top padding - 60px, bottom padding 75px. remove padding for the results so it butts up to the split feature below.
![Screen Shot 2021-08-09 at 3 41 58 PM](https://user-images.githubusercontent.com/54747669/128772379-e2706553-45de-407b-9887-36f76eb8992d.png)

[2021-08-09 21:13] mwllr commented on #310
[2021-08-09T20_19_23.979Z ACES Marcomm Workspace - Web Site Migration - ANSC Web Site Migration - ANSC Content.xlsx](https://github.com/web-illinois/illinois_framework_theme/files/6957479/2021-08-09T20_19_23.979Z.ACES.Marcomm.Workspace.-.Web.Site.Migration.-.ANSC.Web.Site.Migration.-.ANSC.Content.xlsx)

[2021-08-09 21:13] mwllr commented on #256
looks great!
![Screen Shot 2021-08-09 at 4 13 35 PM](https://user-images.githubusercontent.com/54747669/128775276-c9c5e246-22e3-47b4-8b7e-a4f54aaf5edc.png)

[2021-08-09 21:13] #256 closed, assigned to wrg20

[2021-08-09 21:16] mwllr opened #315 "Directory Page"
Top part of page looks good with animal explorer. Styling not coming through on bottom of page.
![Screen Shot 2021-08-09 at 4 15 55 PM](https://user-images.githubusercontent.com/54747669/128775559-5bb20ac5-aa56-43b3-994b-a51ead3f690f.png)

[2021-08-09 21:18] mwllr opened #316 "Explorer -"
Remove extra space between title and start of portraits showing up.
on directory : https://staging.ansc.illinois.edu/directory

![Screen Shot 2021-08-09 at 4 17 03 PM](https://user-images.githubusercontent.com/54747669/128775771-c8061cc2-59dd-4ae6-b91a-09941371cedd.png)

[2021-08-09 21:24] mwllr opened #317 "Faculty Members page"
https://staging.ansc.illinois.edu/directory/faculty-members

Extra space showing for faculty members heading that isn't being used. remove please.
![Screen Shot 2021-08-09 at 4 21 56 PM](https://user-images.githubusercontent.com/54747669/128776346-3bd1fed3-7f89-4f4c-ad40-59f929759e30.png)

[2021-08-09 21:29] mwllr opened #318 "Adjunct Faculty Members"
- [x] on table - change contact information to email.
- [x] entire table should be left aligned
- [x] make table wider
- [x] the first line of ....... is pushed right a little?
![Screen Shot 2021-08-09 at 4 28 23 PM](https://user-images.githubusercontent.com/54747669/128776868-5c4e5009-6fe0-4cd4-bbd1-1b9d0e21e463.png)

[2021-08-09 21:31] mwllr opened #319 "Emeritus Faculty Members"
- [x] Should be able to get 3-4 people on a line instead of 2.
- [x] Shouldn't be seeing the blue titles with orange under for each person. styling not coming through.
![Screen Shot 2021-08-09 at 4 31 22 PM](https://user-images.githubusercontent.com/54747669/128777198-2ba57a1f-bdab-4a5b-add9-fb590e16dce1.png)

[2021-08-09 21:35] mwllr opened #320 "Staff page"
https://staging.ansc.illinois.edu/directory/staff

- [x] left align whole table on the page instead of centering.
- [x] make table wider to fit space
- [x] in my.aces - change Lucas Trindade Neira, Research Specialist in Agriculture â€“ Dixon Springs Agricultural Center
lucastn@illinois.edu - has the weird character.

[2021-08-09 21:44] mwllr commented on #299
- [ ] remove extra spacing above photos below title of sections.
- [ ] align left for photos
![Screen Shot 2021-08-09 at 4 41 38 PM](https://user-images.githubusercontent.com/54747669/128778312-b319f11a-cbca-4417-88a6-01114c2dc9d2.png)
below: all should align left. (might be a part of the rich text displaying next to side nav)
![Screen Shot 2021-08-09 at 4 43 41 PM](https://user-images.githubuserc

[2021-08-09 21:48] mwllr opened #321 "Grad Students Directory"
- [x] 3-4 on a line
- [x] fix padding/spacing
- [x] grad students do not need to link to their bio page.

[2021-08-10 05:20] wrg20 commented on #271
@lizshalley - we will need to style the search results page (colors, font, etc). @mwllr - the aces website looks like we used orange and gray.

[2021-08-10 14:13] lizshalley commented on #319
Looks great! There's one image that seems to be cropped short though in the first row.

[2021-08-10 14:15] lizshalley commented on #319
Looks great!

[2021-08-10 14:23] mwllr commented on #283
looks great!

[2021-08-10 14:23] #283 closed, assigned to wrg20

[2021-08-10 14:27] mwllr commented on #319
looks great.
@lizshalley -that's what they uploaded in my.aces...
![Screen Shot 2021-08-10 at 9 26 48 AM](https://user-images.githubusercontent.com/54747669/128884969-9673118b-ec9e-4392-847c-9e20d711690e.png)

[2021-08-10 14:28] mwllr commented on #319
extra spacing of h3???? remove.
![Screen Shot 2021-08-10 at 9 27 49 AM](https://user-images.githubusercontent.com/54747669/128885159-aed3c9b6-e785-4a6e-98bd-13603b7ed9a8.png)

[2021-08-10 14:32] mwllr commented on #315
styling coming through now. will tweak styles and spacing, but good for now.
![Uploading Screen Shot 2021-08-10 at 9.32.22 AM.png…]()

[2021-08-10 14:32] #315 closed, assigned to nobody

[2021-08-10 14:33] mwllr commented on #316
good!
![Screen Shot 2021-08-10 at 9 33 12 AM](https://user-images.githubusercontent.com/54747669/128885990-ec01fef5-5c10-43a0-b63c-8a09be4e7f83.png)

[2021-08-10 14:33] #316 closed, assigned to nobody

[2021-08-10 14:37] mwllr commented on #261
Great!
![Screen Shot 2021-08-10 at 9 36 53 AM](https://user-images.githubusercontent.com/54747669/128886616-51cad4fd-e564-43e1-b44f-8650e81de047.png)

[2021-08-10 14:37] #261 closed, assigned to wrg20

[2021-08-10 14:38] mwllr commented on #283
![Screen Shot 2021-08-10 at 9 37 46 AM](https://user-images.githubusercontent.com/54747669/128886770-f27470b9-aacc-445d-9a7a-0615a6b8c604.png)

[2021-08-10 14:38] mwllr commented on #218
Bill changed h1, 2, 3, 4, 5.....

[2021-08-10 14:38] #218 closed, assigned to wrg20

[2021-08-10 14:39] mwllr commented on #317
Looks great.
![Screen Shot 2021-08-10 at 9 39 05 AM](https://user-images.githubusercontent.com/54747669/128886980-8453f95c-ec17-4e5a-9e78-4f9cb2cc01ad.png)

[2021-08-10 14:39] #317 closed, assigned to nobody

[2021-08-10 15:16] #301 closed, assigned to wrg20

[2021-08-10 16:25] lizshalley commented on #48
need white text on blue, orange, and gradient backgrounds.
![Screen Shot 2021-08-10 at 11 25 30 AM](https://user-images.githubusercontent.com/8646013/128896556-ff7dff40-7e9f-4f7a-b502-ed6a58868fcf.png)

[2021-08-10 17:16] mwllr commented on #96
small text:

- [ ] change line-height to 2.125rem
- [ ] padding above small text: 60px
- [ ] padding below small text: 75px
- [ ] padding left and right of small text needs to match main header as it shrinks down. Shouldn't touch sides.

![Screen Shot 2021-08-10 at 11 42 27 AM](https://user-images.githubusercontent.com/54747669/128904941-44062975-0309-445c-8d81-afc676647501.png)

[2021-08-10 17:22] mwllr commented on #36
margin/padding between main title and paragraph should match the main formatting for h2 and p.
Change title font size to match h2 - 35px
https://cdn.brand.illinois.edu/toolkit/dev/examples/stylesheets/formatting/index.html
![Screen Shot 2021-08-10 at 12 20 43 PM](https://user-images.githubusercontent.com/54747669/128905753-b08a385c-103d-4d8f-a7a5-6db83d388b4d.png)

[2021-08-10 17:30] mwllr commented on #83
https://cdn.brand.illinois.edu/toolkit/dev/examples/stylesheets/formatting/index.html

![Screen Shot 2021-08-10 at 12 23 38 PM](https://user-images.githubusercontent.com/54747669/128906874-f3296634-89ac-47ea-8e35-9159025542fb.png)

[2021-08-10 17:37] mwllr opened #328 "Footer - remove gray for text."
![Screen Shot 2021-08-10 at 12 36 39 PM](https://user-images.githubusercontent.com/54747669/128908010-2210aded-fd2b-47b0-8849-74c110de5bd2.png)

[2021-08-10 17:58] mwllr commented on #73
- [ ] two columns can go to 1200px wide max.
- [ ] two columns should stack when they are smaller than 600px.
- [ ] Add option for gray background 100% of screen width. #f4f4f4 is gray background color.
- [ ] mobile - margins/padding should match header - 15 or 30 I believe.
- [ ] add alignment option for titles - left or center
- [ ] add alignment option for whole section - left or center
- [ ] f

[2021-08-10 17:59] mwllr opened #329 "Need text links in features set"
![Screen Shot 2021-08-10 at 12 59 19 PM](https://user-images.githubusercontent.com/54747669/128910992-e1d59fb3-0915-471a-bb13-d301d4f7c60c.png)

![Screen Shot 2021-08-10 at 11 31 00 AM](https://user-images.githubusercontent.com/54747669/128911174-fe9fc93a-ee49-4653-b1df-55fa6119207d.png)

[2021-08-10 18:03] mwllr commented on #285
https://staging.ansc.illinois.edu/future-students/admissions/undergraduate-admissions
in body and rich text

[2021-08-10 18:51] mwllr commented on #311
done.

[2021-08-10 18:51] #311 closed, assigned to nobody

[2021-08-10 19:16] wrg20 commented on #258
This has been completed but is waiting on a render issue with the directory javascript that dave is fixing now.

[2021-08-10 19:21] wrg20 commented on #258
should be working now please review @mwllr

[2021-08-10 20:44] mwllr commented on #328
Great. done.
![Screen Shot 2021-08-10 at 9 36 53 AM](https://user-images.githubusercontent.com/54747669/128932480-39019d13-1d2b-4183-be8b-865e4b507f0f.png)

[2021-08-10 20:45] #328 closed, assigned to wrg20

[2021-08-10 20:48] wrg20 opened #339 "import config"
[‎8/‎10/‎2021 3:45 PM]  Gascoigne, Robbie Philip:
No Title
here is the list of modified/added files: theme:
config/install/core.entity_form_display.node.internships.default.yml
config/install/core.entity_view_display.node.career_possibilities.default.yml
config/install/core.entity_view_display.node.career_possibilities.teaser.yml
config/install/core.entity_view_display.node.internships.default.yml

[2021-08-10 20:50] NotThatDavidCross commented on #320
Table is as wide as it can be in rich text right now.

[2021-08-10 20:55] NotThatDavidCross commented on #319
@mwllr The extra h3 is a rich text issue.  Not specific to the directory pages.  I'm going to look at that next.

[2021-08-10 21:36] #339 closed, assigned to nobody

[2021-08-10 21:36] wrg20 opened #340 "CSS template changes for internships"

[2021-08-10 21:37] wrg20 commented on #340
thumbnail dimensions off...itok version being used

[2021-08-10 21:39] lizshalley commented on #340
Career Possibilities:
text fields wrap down below profile image
![Screen Shot 2021-08-10 at 4 38 36 PM](https://user-images.githubusercontent.com/8646013/128938590-f3982218-c32d-421a-a810-1d23011870d6.png)

[2021-08-10 21:40] mwllr commented on #273
@NotThatDavidCross - I put in 2 new funds and removed 3 funds from showing on the giving page. Do we need to double check that with UIF?
M

[2021-08-10 21:40] lizshalley commented on #340
Internships:
Remove "required" from "Description" field.
![Screen Shot 2021-08-10 at 4 40 06 PM](https://user-images.githubusercontent.com/8646013/128938741-ed8d1abd-1375-4311-8996-59427996ec9d.png)

[2021-08-10 21:41] mwllr commented on #273
Marla said:     You can put a 11 in front but really the actual fund number is just 6 digits

[2021-08-10 21:42] lizshalley commented on #340
Internships:
adjust spacing between "term" and "category" fields to match others.
![Screen Shot 2021-08-10 at 4 40 06 PM](https://user-images.githubusercontent.com/8646013/128938933-ea78a226-4bc2-4806-82fa-bdf27f5cb163.png)

[2021-08-10 21:42] mwllr commented on #267
Looks great for what we can do to launch.
![Screen Shot 2021-08-10 at 4 42 35 PM](https://user-images.githubusercontent.com/54747669/128938957-811611e7-9075-4ae0-969a-b8970a702159.png)

[2021-08-10 21:42] #267 closed, assigned to wrg20

[2021-08-10 21:43] mwllr commented on #258
Looks good on regular pages and such. Will need to tweak a few special paragraphs like the feature grouped.... done for launch.
![Screen Shot 2021-08-10 at 3 49 50 PM](https://user-images.githubusercontent.com/54747669/128939044-d457de89-1dad-4038-a161-31500ebfc4cd.png)

[2021-08-10 21:43] #258 closed, assigned to wrg20

[2021-08-10 21:43] wrg20 opened #341 "contact us page"

[2021-08-10 21:46] mwllr commented on #320
done for launch
![Screen Shot 2021-08-10 at 4 46 23 PM](https://user-images.githubusercontent.com/54747669/128939315-44e7ac8f-b628-412c-bf59-d50d96ffea5e.png)
.

[2021-08-10 21:46] #320 closed, assigned to nobody

[2021-08-10 21:47] mwllr commented on #318
done for launch. will fix rich text to align left when needed later.
![Screen Shot 2021-08-10 at 4 47 35 PM](https://user-images.githubusercontent.com/54747669/128939427-6daac513-31e8-47d9-aa31-2e9579ca1129.png)

[2021-08-10 21:47] #318 closed, assigned to nobody

[2021-08-10 21:49] mwllr opened #342 "All directory photo grids"
need to add 20px of spacing between rows of photos before next row.

[2021-08-10 21:53] mwllr commented on #219
duplicate to #257

[2021-08-10 21:53] #219 closed, assigned to nobody

[2021-08-10 21:58] wrg20 commented on #341
not using this...pushed a branch...was testing out the github actions which the system is currently down.

![image](https://user-images.githubusercontent.com/1544079/128940589-1a1ce146-c794-449f-8356-7770cd031e95.png)

[2021-08-10 21:58] #341 closed, assigned to wrg20

[2021-08-10 22:26] mwllr opened #343 "CP & Intern - add div styling for page"
wrap the text in a div so it fits in page margins.

[2021-08-10 22:32] mwllr opened #344 "cp/intern"
need to check generate automatic url for all. already did on staging.

[2021-08-10 23:11] mwllr commented on #157
- [ ] move images back up
- [ ] align with page title on left

[2021-08-10 23:12] mwllr opened #345 "Turn Give "on""
----once we get approval from UIF------
Add Give to the Illinois Framework Theme page - Header link list
/give
https://staging.ansc.illinois.edu/admin/appearance/settings/illinois_framework_theme

also put giving back in the footer - taking it out now….
![Screen Shot 2021-08-10 at 11 28 18 PM](https://user-images.githubusercontent.com/54747669/128969736-35059011-090e-4413-aa3a-c08860add254.png)

[2021-08-10 23:17] mwllr opened #346 "Add side nav to cp & interns"
Side navigation is needed for the list page of career possibilities and interns..
https://staging.ansc.illinois.edu/future-students/career-possibilities
https://staging.ansc.illinois.edu/student-life/internships

Side nav is also needed on each profile page.
https://staging.ansc.illinois.edu/future-students/career-possibilities/christina-mazulis-dvm-dacvd
https://staging.ansc.illinois.edu/student-

[2021-08-10 23:28] mwllr opened #347 "Need list/page of Intern Category"
ANSC Campus Farms (Experimental Research Units) internships only.

[2021-08-10 23:42] mwllr opened #348 "Fix Directory Word Cloud"
;)
![Screen Shot 2021-08-10 at 6 41 52 PM](https://user-images.githubusercontent.com/54747669/128948689-2e69d28a-935d-45e9-9711-efc26e651dfd.png)

[2021-08-10 23:48] mwllr commented on #277
- [ ] CP/Interns ** able to put a block at the bottom of content page with body text - CP & Intern

- [ ] CP ** pretty url - /future-students/career-possibilities/{title}
- [ ] CP ** cp list - 4:5 ratio for photos
- [ ] CP ** change hometown, degrees, salary : inline
- [ ] CP ** cp profile - show salary
- [ ] CP ** cp profile - remove last 3 fields for degrees on entry
- [ ] CP ** cp profile - mak

[2021-08-10 23:57] mwllr commented on #277
- [ ] CP/Intern - ability to put at the bottom of a content page in a block or paragraph
- [ ] CP/Intern - add sliders in paragraph
- [ ] CP/Intern - look at pagination

[2021-08-10 23:58] mwllr commented on #277
- [x] CP - pretty url : /future-students/career-possibilities/{title}
- [x] CP - on list and profile views - change photo to 4:5 ratio
- [x] CP - change hometown, degrees, salary to show : and inline
- [x] CP - profile - show salary
- [x] CP - profile - remove last 3 fields on degrees for entry
- [x] CP - profile - make fields not required - job duties, background, and down the list
- [x] CP - pro

[2021-08-11 00:11] mwllr commented on #277
- [x] Intern - pretty url : /student-life/internships/{title}
- [x] Intern - sort list by category, location, and term
- [x] Intern - location list - add international as option
- [x] Intern - remove second title in backend - duplicate and not needed.
- [x] Intern - list - show all since pagination sucks
- [x] Intern - description should be the only required big box/field to fill in.
- [x] Intern

[2021-08-11 02:27] NotThatDavidCross commented on #319
Fixed with rich text change.

[2021-08-11 14:55] wrg20 commented on #272
![image](https://user-images.githubusercontent.com/1544079/129052566-ac476fe9-97f0-4a23-b96b-5b66349b1230.png)

[2021-08-11 19:01] mwllr commented on #299
Fixed as well as can be for launch. I am sure they will add more later.
![Screen Shot 2021-08-11 at 2 01 24 PM](https://user-images.githubusercontent.com/54747669/129087638-af0af3d8-a979-491c-b977-9c739e9c75e2.png)

[2021-08-11 19:01] #299 closed, assigned to wrg20

[2021-08-11 19:04] mwllr commented on #348
all lined up now in a grid.
![Screen Shot 2021-08-11 at 2 03 45 PM](https://user-images.githubusercontent.com/54747669/129087931-2bc9fcf8-4c13-4f32-81d4-8fb47dfc0380.png)

[2021-08-11 19:04] #348 closed, assigned to nobody

[2021-08-11 19:04] mwllr commented on #319
![Screen Shot 2021-08-11 at 2 04 37 PM](https://user-images.githubusercontent.com/54747669/129088044-cb1c8d4f-d982-4b68-9e9f-544a6c65ba97.png)

[2021-08-11 19:04] #319 closed, assigned to nobody

[2021-08-11 19:05] mwllr commented on #343
done. text now stays within the main header max width.

[2021-08-11 19:05] mwllr commented on #343
![Screen Shot 2021-08-11 at 2 05 09 PM](https://user-images.githubusercontent.com/54747669/129088148-cebe5315-d7e7-4b3e-8bb9-4fc6cdc778d4.png)
![Screen Shot 2021-08-11 at 2 05 17 PM](https://user-images.githubusercontent.com/54747669/129088153-4893fef7-cc8d-4de8-8af9-b817cb683eff.png)

[2021-08-11 19:05] #343 closed, assigned to nobody

[2021-08-11 19:14] mwllr opened #366 "Redirect news"
We do not have news at all on ANSC. It was departmental news that is outdated.
Need to redirect all
ansc/news/**articles
to go to:
https://aces.illinois.edu/tags/ansc

Bill - add an issue for doing the redirect...I'll have to do it off hours as it can mess with the website if I put it in the .htaccess wrong

[2021-08-11 21:42] wrg20 opened #368 "Add CSS compiler back into the configuration"
Need to add the configuration for the site install and change the libraries file back

[2021-08-12 15:35] wrg20 commented on #368
Added the compiler back into the config

[2021-08-12 15:35] #368 closed, assigned to wrg20

[2021-08-12 16:06] wrg20 commented on #73
The above settings just don't present a realistic programmable set of options and present a user experience problem.  For example: Someone sets side navigation with 1400 max width text with left aligned titles with 2 columns, left section centering, large margins.  What do we do with this?  The layout should really dictate the margins/padding/text width instead of the user.

[2021-08-12 18:17] wrg20 commented on #286
Removed the space above the footer.

[2021-08-12 18:17] #286 closed, assigned to wrg20

[2021-08-12 19:46] wrg20 opened #372 "Remove ACES specific IDs from search and galleria"

[2021-08-12 20:59] lizshalley commented on #146
![Screen Shot 2021-08-12 at 3 58 31 PM](https://user-images.githubusercontent.com/8646013/129269040-90a90c80-a5d2-4530-8389-cd60e44db656.png)

[2021-08-12 21:21] mwllr opened #376 "Contact -backend changes"
- [ ] Backend Entry: Melissa make the title not required.
- [ ] Only allow one Contact Content item inside (currently only the first one displays)
- [ ] Make the Contact Content "Title" field display smaller than the Section Title.  Recommend removing the font size from .field--name-field-contact__content__title class and put the title inside an H3 tag

[2021-08-16 19:56] mwllr opened #377 "All content should be in the fixed width by default"
Please keep all content in the main margins:
![Screen Shot 2021-08-16 at 1 06 08 PM](https://user-images.githubusercontent.com/54747669/129622070-19067a8b-1025-4003-9d07-190af03bdc3b.png)

[2021-08-17 15:24] wrg20 opened #379 "Remove offsets with side navigation"

[2021-08-17 15:28] wrg20 opened #380 "Setup site administrator role in Active Directory"
Assign Virgil, Liz, Ryan Dilger, Jerrica hood this role

[2021-08-17 20:42] NotThatDavidCross commented on #83
Spacing changes ready for review

[2021-08-17 21:44] mwllr commented on #347
also need list for CCHS

[2021-08-17 21:45] #310 closed, assigned to mwllr

[2021-08-17 21:56] mwllr commented on #380
same rules as content managers, but can edit menu, all paragraph types, can use full html, redirects,

[2021-08-18 15:31] mwllr commented on #100
@NotThatDavidCross - can we close this or are you still using this branch?

[2021-08-18 18:03] NotThatDavidCross commented on #83
Add "No faculty for this combination" text when there are no results for a combination

[2021-08-18 18:45] mwllr commented on #148
@lizshalley -did this get added/is it done? If so, move to melissa double check column.

[2021-08-18 18:48] mwllr commented on #379
@wrg20 - is this done or we still need to do for each paragraph??

[2021-08-18 18:56] mwllr commented on #73
let's leave these off for now:
- [x] two columns can go to 1200px wide max.
- [x] add option for text to be 900 pixels or 1140 pixels wide for max width.

[2021-08-18 18:56] mwllr commented on #73
- [ ] two columns should stack when they are smaller than 600px.
- [ ] Add option for gray background 100% of screen width. #f4f4f4 is gray background color.
- [ ] mobile - margins/padding should match header - 15 or 30 I believe.
- [ ] add alignment option for titles - left or center
- [ ] add alignment option for whole section - left or center
- [ ] fixed and full are for background.
- [ ] Add s

[2021-08-18 18:58] mwllr commented on #157
good for now.
![Screen Shot 2021-08-18 at 1 57 54 PM](https://user-images.githubusercontent.com/54747669/129956233-e436c1d7-26c3-44ac-b438-290e0a787139.png)

[2021-08-18 18:58] #157 closed, assigned to wrg20

[2021-08-18 18:59] mwllr commented on #156
- [ ] Add in the ability to have a title within the paragraph type. Use h2 styling of site overall.
- [ ] Add ability for title to be left or centered.

[2021-08-18 19:02] #344 closed, assigned to nobody

[2021-08-18 19:02] mwllr commented on #342
@NotThatDavidCross
if not 20px, at least 1.5 x the space between bottom of photo and top of the person's name.

[2021-08-18 20:14] mwllr opened #381 "Call to Action - quick fix"
on the blue background text links should be white underlined. then change to Illini Orange and underline on hover/focus.
should be white for visited link too.
![Screen Shot 2021-08-18 at 3 06 02 PM](https://user-images.githubusercontent.com/54747669/129965803-0ab8dc18-3ebb-4fc0-85aa-e55134057e7b.png)

[2021-08-18 22:28] NotThatDavidCross commented on #156
@mwllr Title just needed to be added to the paragraph to display, but it doesn't have the left/centered option yet.  It will probably need spacing/styling adjustments.  I've added it to FTC on staging: http://staging.ansc.illinois.edu/about/facilities/feed-technology-center

[2021-08-18 22:34] NotThatDavidCross commented on #273
Page is published but not linked to.  UIF is reviewing it.  https://ansc.illinois.edu/give

[2021-08-20 13:36] wrg20 opened #383 "Focus state of buttons"
https://ansc.illinois.edu/about/contact-us

Clicking on a button and dragging off the button results in the text on the button disappearing.  This is an abnormal action but the focus state needs to be changed.

- [x] Fix in ANSC page above
- [x] Review other paragraphs types to make sure we're using the correct classes in all types (Should already be fixed in Rich text and General page

[2021-08-20 14:59] wrg20 opened #384 "Create module to limit options in Block Reference"
https://www.mediacurrent.com/blog/drupal-8-how-reference-views-block-display-field/

Add a module to limit the blocks available in the Block Reference paragraph types to ones set in the hidden region.

[2021-08-20 18:43] wrg20 commented on #346
ok I created a new paragraph type that allows for inserting blocks from the views.  So we can insert the career possibilities block into a regular page now.  The user will use the block reference paragraph type and choose the block they want to insert with the sidebar.  The block has to be first placed in the "hidden" region of the theme.  The hidden region activates the block but does not get dis

[2021-08-20 18:51] wrg20 commented on #146
![image](https://user-images.githubusercontent.com/1544079/130280285-17a334f4-df86-4f48-b806-208590a3a084.png)
buttons work as intended....the button text should be pulled out of the Address area and input into the button fields.

[2021-08-20 22:08] wrg20 commented on #146
alright some of these are ready for review on staging.ansc.illinois.edu

[2021-08-20 22:09] wrg20 commented on #146
Merge #386

[2021-08-20 22:11] wrg20 commented on #246
Merge #386 finished this up when I removed the offset rules in the JS file.

[2021-08-20 22:11] #246 closed, assigned to wrg20

[2021-08-20 22:12] wrg20 commented on #379
done with merge #386

[2021-08-20 22:12] #379 closed, assigned to nobody

[2021-08-20 22:12] wrg20 commented on #372
This will go into the split of the repositories....so it's on hold at the moment @mwllr

[2021-08-23 14:25] mwllr commented on #146
@wrg20
photos still need to be left/right, not centered on desktop version (even with side nav). could also do 1/3 and 2/3 instead of 50/50 for columns next to side nav.
We will need to break quicker for side nav to diappear. That will come on another request.

[2021-08-23 15:31] mwllr commented on #156
- [ ] Add title center/left option
- [ ] add spacing before title (60px total inside gray background)
- [ ] remove spacing after title, before images start. (35px)
- [ ] 75 px padding at bottom
- [ ] align image to left with text title. off 5-10px?

Currently looks like:
![Screen Shot 2021-08-23 at 10 22 39 AM](https://user-images.githubusercontent.com/54747669/130474733-d2c7b283-79f7-4b9c-a8eb-e4

[2021-08-23 15:34] mwllr commented on #83
@NotThatDavidCross - I assume you know Anna Dilger shows up in all categories and there isn't "No faculty for this combination" text when there are no results for a combination.... yet.

[2021-08-23 15:37] #277 closed, assigned to nobody

[2021-08-23 20:21] #265 closed, assigned to magjarvis

[2021-08-25 16:48] #273 closed, assigned to NotThatDavidCross

[2021-08-25 16:48] mwllr commented on #345
Approved and site updated.

[2021-08-25 16:48] #345 closed, assigned to nobody

[2021-08-25 19:13] mwllr commented on #380
setup the role on ANSC. Need to get permissions in active directory for Liz, Virgil, and Dilger. Liz and Virgil will be site admins for all of our sites. Dilger is only ANSC.

[2021-08-30 20:57] mwllr commented on #149
@magjarvis  - ready for you to work some magic!

[2021-08-31 16:50] trubach opened #392 "Remove <base> tag in html.html.twig"
@wrg20 - It looks like you might use the `<base>` tag in the header to use relative paths in the theme. However, this causes issues for all relative paths. If someone adds a relative path link like `<a href="./">Link</a>`, then that link will be broken.

Can we remove that tag from the template? Here's the line in question:

https://github.com/web-illinois/illinois_framework_theme/blob/1.x/templat

[2021-08-31 22:02] nbaxley-uiuc opened #393 "Upgrade path to Drupal 9"

[2021-08-31 22:35] nbaxley-uiuc opened #394 "Install and configure Type Tray module"
A very clever module that organizes the content types into a more user friendly arrangement.  We created something similar on the LAS framework, but this seems to have more customizability and it's supported by Lullabot.

https://www.drupal.org/project/type_tray

[2021-09-01 15:09] nbaxley-uiuc opened #395 "Create placeholder in campus KB for key support pages on drupal.webtheme"
The primary location for documentation of the Drupal Framework will be on https://drupal.webtheme.illinois.edu, but we want to have something in the KB for when people search it.  Some candidate pages:

- [ ] How do I make a Drupal Website
- [ ] Editing my Drupal pages (should link to a demonstration of the paragraphs)

[2021-09-01 19:44] mwllr commented on #252
we know the chevron isn't showing up right, but you get the spacing ideas....
![screen_shot_2021-09-01_at_2 41 51_pm](https://user-images.githubusercontent.com/54747669/131734989-6eb88df2-cf00-4acf-9a14-fa00c220d1e6.png)

[2021-09-01 22:05] wrg20 opened #396 "Remove unused fields from paragraphs"

[2021-09-07 16:31] mwllr opened #403 "Permissions - Content Managers"
We need to set the default Content Manager permissions to allow for:

- Adding/editing/deleting any Content Types
- Adding/editing/deleting any Paragraph Types
- Editing the Navigation menu

We will create documentation for best practices to override permissions.

[2021-09-08 14:27] wrg20 opened #404 "Add blue button style to ckeditor"
Add the following styles to ckeditor configuration
a.il-button|Base Button
a.il-button.il-white-blue|White with blue button
a.il-button.il-white-orange|White with orange button
a.il-button.il-blue|Solid blue button
a.il-button.il-orange|Solid orange button

[2021-09-09 16:02] mwllr commented on #57
Closing and starting a new issue for all fixes needed.

[2021-09-09 16:02] #57 closed, assigned to nobody

[2021-09-09 16:03] mwllr commented on #57
@trubach - I see you have a pull request on this though.... what do you need to do about that?

[2021-09-09 16:10] trubach commented on #57
@mwllr - are you referring to #195? I had to do a bit of git cleanup before merging Maggie's branch. It's OK to ignore that. It's been merged and is included in the alpha.

[2021-09-09 16:34] mwllr opened #405 "Call to Action"
**Backgrounds**
- [x] fingerprints not showing on gray background
- [x] may need to remove option for orange gradient since we can't have any links in the body copy due to accessibility of link color hover/focus on altgeld option of NONE.
**Sidebar**
- [x] side bar - need padding on left of icon 50px within the colored background
- [x] side bar - padding on right is 50px

**Mobile**
- [x] on table

[2021-09-09 20:09] mwllr commented on #405
![Screen Shot 2021-09-09 at 3 08 56 PM](https://user-images.githubusercontent.com/54747669/132755477-eee800d9-d60d-43fb-bd15-bf20c6f0f3b0.png)

[2021-09-13 21:44] nbaxley-uiuc opened #406 "Add Mediaspace support to video embed"
The LAS framework includes some code to add support for embedding mediaspace video into text content are.  Not sure if the same code could be used for adding to the media library, but it should be explored.

[2021-09-14 19:27] nbaxley-uiuc opened #407 "Feature Box Paragraph: Adjust image requirements"
- [x] Decrease the minimum image size needed to 1000x500 to match the sizes given by the campus database.
- [x] Increase the maximum file size to 10MB
- [x] Confirm that server side processing reduces the image size to something reasonable

[2021-09-14 19:35] nbaxley-uiuc commented on #406
The LAS implementation will not work since we are NOT using MediaLibrary for our video.  MediaSpace is powered by Kaltura and there is a Kaltura plugin we can use. - https://www.drupal.org/project/media_kaltura

[2021-09-15 14:59] mwllr opened #408 "Rich Text (and body)"
- [x] standard top margin - 45px total
- [x] standard bottom margin - 60px total
- [x] change layout to go to full 12 columns instead of 10.
- [x] margins/padding should match header (block I on left and right side of hamburger) - 20 on mobile and 30 on tablet - not currently working next to side nav.
- [x] Add option for gray background 100% of screen width. #f4f4f4 is gray background color. If t

[2021-09-15 15:44] mwllr commented on #408
![Screen Shot 2021-09-15 at 9 25 16 AM](https://user-images.githubusercontent.com/54747669/133465620-c834216e-1f00-4f7e-aff2-1e4da087b57c.png)

[2021-09-15 15:46] mwllr commented on #73
closing - opened new cleaned up ticket.

[2021-09-15 15:46] #73 closed, assigned to nobody

[2021-09-15 16:08] trubach opened #409 "Test issue (delete me later)"
Testing out webhooks.

[2021-09-15 17:57] mwllr opened #410 "upgrade to 2.2 components"
Need to upgrade to 2.2 web components. will affect side navigation. Will put in another ticket for that.

[2021-09-15 18:57] mwllr opened #411 "Image alignment in rich text areas not working correctly."
need images to be able to float left or right in drop down for ck editor, not as a class applied.

[2021-09-15 19:17] mwllr opened #412 "2.2 components affect side navigation"
the side navigation has some weird break points in how it stretches and butts up next to content.

[2021-09-16 20:52] mwllr opened #413 "Add named anchor link option."
- [x] Add the https://www.drupal.org/project/anchor_link module

Add anchor links to paragraphs to be able to link to???

ability to put in advising for example, then go to page xyz#advising.

Specifically Rich Text, but will need overall.

[2021-09-17 17:27] magjarvis opened #414 "News - Highlighted news block config"
- [x] The view needs to have a filter to only show "Promoted to front page" content.
- [x] Title of the block should remain inside the page width

[2021-09-17 17:29] magjarvis opened #415 "News - Archive page config"
- [x] change thumbnail to square thumbnail, add new image style
- [x] change sort order to sort by date field instead of created date
- [x] Create a block version of this view as described in the [comment below](https://github.com/web-illinois/illinois_framework_theme/issues/415#issuecomment-928184050)

[2021-09-17 17:31] magjarvis opened #416 "News - News story page layout"
- [x] add margins to images
- [x] check position of images within body

[2021-09-17 17:33] magjarvis opened #417 "News- More news block layout/design"
- [x] update background color to darker gray (#f4f4f4 ?)

[2021-09-17 18:53] #347 closed, assigned to nobody

[2021-09-17 18:54] #321 closed, assigned to nobody

[2021-09-17 18:54] #380 closed, assigned to nobody

[2021-09-17 18:54] #342 closed, assigned to nobody

[2021-09-17 20:25] mwllr opened #418 "Update .paragraph class with proper top and bottom padding"
- [ ]  60 px padding inside top of paragraph total
- [ ]  75 px padding inside bottom of paragraph total
- [ ] Set bottom padding to 0px on icon row PT because the icons already have the bottom padding
- [ ] Review any other PTs that may contain children with a similar situation to icon row

[2021-09-17 20:36] nbaxley-uiuc opened #419 "Change focus state to be same as hover states"
Set focus state on links to be the same as hover (orange text with no border) rather than the border currently showing.  The no border has to be explicitly set, hopefully at the theme level.  Need to review all places where this could be an impact.

[2021-09-17 20:44] mwllr commented on #405
![call to action base](https://user-images.githubusercontent.com/54747669/134217731-fc0c83d3-773d-4b35-a6d8-42bff6937a24.png)
![call to action 500](https://user-images.githubusercontent.com/54747669/133851437-d3c5f5bc-0eae-4734-8b63-fcdb3b0e18b5.png)
![call to action 850](https://user-images.githubusercontent.com/54747669/133851438-19812656-a616-442d-ba2c-0b777b335230.png)
![call to action 1100](h

[2021-09-17 20:59] nbaxley-uiuc opened #420 "Allow 5 icons on a row in Icon Row PT"
It looks like changing the flex-basis from 25% to 20% on the rule below will fix it, but I'll leave the specifics to the experts
`.paragraph--type--icon-row .field--name-field-icon-row-content .field__item`

We still need to support 4 and fewer icons evenly spaced in a row after this change.

[2021-09-17 21:23] nbaxley-uiuc commented on #93
I have an instance of this on the main page of drupal.webtheme.  I need @mwllr to weigh in on this, but to my mind we need to have the width on this contained to the template width and we need to have a "Read full story" button added to send people to the detail page.

[2021-09-22 21:37] mwllr opened #422 "Twitter icon link in footer isn't showing up"
We spun up cpsc.illinois.edu and I added a twitter link. It's not showing in footer.
It is entered in the Drupal interface setting.
- Nevermind - I just didn't have the s in the URL..... now just something we need to document.....

[2021-09-23 14:42] wrg20 commented on #149
Add switch / case, for icon row classes and flex-box.

[2021-09-24 13:42] trubach commented on #149
@wrg20, @mwllr - I just merged #421 from Maggie. Can you use the sandbox site to verify everything is OK and close this issue if it is? The sandbox won't reflect these changes until tomorrow (9/25). Otherwise, maybe add some more tasks to the list of checkboxes above.

[2021-09-27 18:48] nbaxley-uiuc opened #424 "Content on front page are not contained"
Currently the default front page content is just promoted nodes, but the listing is not contained in the fixed width section in the middle of the page and looks very jumbled.   Not sure what the intended behavior is, but his seems wrong and leaves a bad first impression.

[2021-09-27 18:50] nbaxley-uiuc commented on #414
@magjarvis I added a To Do to make the title a link.  The button and the image are already links, but it feels like the title should be as well unless there was a design decision made elsewhere.

[2021-09-27 18:51] nbaxley-uiuc commented on #414
P.S. I added this block the front page of the sandbox site and put in some sample stories.

[2021-09-27 18:53] nbaxley-uiuc commented on #414
I also added a To Do that says the view should only show content that is "Promoted to front page".  Working to clarify why all content currently defaults to promoted to front page.

[2021-09-27 18:54] nbaxley-uiuc commented on #415
I concur that the thumbnail images should be squares.

[2021-09-27 19:02] nbaxley-uiuc commented on #415
There is concern that the view-page will cause confusion when a site wants to do something different with the /news/ page.  In order to have _something_ there for sites with minimal effort, we can leave it there but we need to have a block version of this view available for people to use when they don't want to have the the standard page listing.  We can document that the best way to handle this i

[2021-09-27 19:07] nbaxley-uiuc opened #425 "Document how to remove the /news archive listing page"
By default we list all of the news items in a view at /news, but not all sites will want to do this.  We need to document that proper way to change this and still list news is to disable the view-page and embed the (to be created) view-block into a Content Page.

[2021-09-27 19:08] nbaxley-uiuc commented on #366
@mwllr Can we close this given our earlier discussion and these issues #425 & #415

[2021-09-27 19:14] mwllr opened #426 "link colors on colored backgrounds for split feature, video feature, feature box, call to action, and hero section"
![Screen Shot 2021-09-30 at 10 40 55 AM](https://user-images.githubusercontent.com/54747669/135487661-558e060c-863e-4bd3-8ee8-2771852091e1.png)

- [x] make sure you go back and remove the 2 background colors of altgeld and industrial-blue from Merge #461
- [x] link colors for colored backgrounds should be as follows:

![Screen Shot 2021-09-29 at 3 21 17 PM](https://user-images.githubusercontent.co

[2021-09-27 19:19] mwllr commented on #405
Bill took care of the link colors with issue #426.

[2021-09-27 20:28] wrg20 commented on #426
merge #427 changed the background colors, put black in for the hover on orange gradient

[2021-09-27 20:30] wrg20 commented on #426
black color on altgeld fails with normal text.
![image](https://user-images.githubusercontent.com/1544079/134980642-adbbe103-a000-451e-92c7-938b62928221.png)

[2021-09-27 20:52] #74 closed, assigned to mwllr

[2021-09-27 20:59] #146 closed, assigned to nobody

[2021-09-27 21:32] mwllr opened #428 "clickable cards - page alignment"
- [ ] left/right margins are off for clickable cards they are outside of the 1140 page alignment with the block I and search box.

[2021-09-29 14:24] nbaxley-uiuc commented on #392
@wrg20 @trubach Is this resolved?

[2021-09-29 14:47] mwllr commented on #410
upgraded. done.

[2021-09-29 14:48] #410 closed, assigned to wrg20

[2021-09-29 14:50] mwllr commented on #410
![Screen Shot 2021-09-29 at 9 48 34 AM](https://user-images.githubusercontent.com/54747669/135293353-defa6690-5693-445b-9025-6d3d75ee7c7b.png)

[2021-09-29 14:51] #412 closed, assigned to wrg20

[2021-09-29 16:17] trubach commented on #392
@nbaxley-uiuc , no, no yet.

[2021-09-29 20:12] mwllr opened #435 "default home page alignment"
Get featured news to stay within 1140px page margins. Should left align with orange text that starts with Bollero...
![Screen Shot 2021-09-29 at 3 11 21 PM](https://user-images.githubusercontent.com/54747669/135341501-47a16212-0fb2-464f-8b46-2fbf813f3262.png)

[2021-09-29 20:15] mwllr commented on #426
It only needs to pass AA. ;)

[2021-09-29 20:19] nbaxley-uiuc commented on #90
The campus button class is described here (https://github.com/web-illinois/toolkit/wiki/Button).  I'd recommend using both the il-button and il-blue classes

[2021-09-29 20:30] wrg20 opened #437 "Remove API key from search page"
Remove the Google CSE key from the page search and put the variable in the settings.php

[2021-09-29 20:50] nbaxley-uiuc opened #438 "News - Convert to sidebar layout"
- [x] Change archive listing to sidebar layout
- [x] Change news story page layout to sidebar

Need to create a new Page.twig file for the News CT layouts and remove the if condition around hte layout type.  Need to "keep both the first second sidebar"

[2021-09-29 20:52] #89 closed, assigned to robgasc

[2021-09-29 20:53] nbaxley-uiuc opened #439 "Spotlight family - Change to sidebar layout"
- [x]  Change listing page to sidebar layout
- [x]  Change detail page layout to sidebar

Need to create a new Page.twig file for the Spotlight CT layouts and remove the if condition around hte layout type. Need to "keep both the first second sidebar"

[2021-09-29 20:55] nbaxley-uiuc opened #440 "Need to resolve multiple drag arrow icons in edit form."
According to Tyler, this is resolved in the latest Drupal 9 release. See the bottom of the issue at: https://www.drupal.org/project/drupal/issues/3092181.  Need to confirm after #393 is complete.

[2021-09-29 21:14] nbaxley-uiuc commented on #435
Duplicated in #414

[2021-09-29 21:14] #435 closed, assigned to nobody

[2021-09-29 21:27] nbaxley-uiuc opened #442 "Add functionality for Rich Text video embeds"
This requires several contrib modules centered around [this one](https://www.drupal.org/project/video_embed_field).  There is a note that this module should no longer be needed with the new media library in core, but we are going to use it for now so that we have ckeditor integration and MediaSpace support.

[2021-09-29 21:31] nbaxley-uiuc opened #443 "Create documentation for overriding permissions"
We need documentation for best practices when changing permissions.  Some points to consider:

- How to change from "All CTs" to "certain CTs"
- Creating/naming new roles
- ...

[2021-09-29 21:36] nbaxley-uiuc commented on #411
Currently there's an option to specify left/right/center/none for image alignment, but in practice it only aligns the first line of text.

[2021-09-29 21:37] nbaxley-uiuc commented on #404
@wrg20 What are we using to apply classes in the ckeditor or is this just about allowed classes in Basic HTML?

[2021-09-29 21:37] nbaxley-uiuc commented on #396
@wrg20 Is this completed now?

[2021-09-29 21:43] nbaxley-uiuc commented on #383
If I understand this, we need to add a .il-button:focus css rule?  It looks like there is on in [the toolkit](https://cdn.brand.illinois.edu/toolkit/2.0/examples/stylesheets/buttons/index.html).  Why wouldn't we be getting that?

[2021-09-30 14:55] wrg20 opened #444 "Contact paragraph sidebar alignment"
- [x] Adjust the contact paragraph to 2 columns on desktop when side navigation is present.
- [x] for image left - make sure content is aligned left
- [x] on side nav left align both buttons have funny spacing - should left align with text....see screenshot down the page a bit.
- [x] email address isn't linking

![Screen Shot 2021-09-30 at 10 44 54 AM](https://user-images.githubusercontent.com/547

[2021-09-30 15:47] mwllr commented on #420
Great!
![Screen Shot 2021-09-30 at 10 47 14 AM](https://user-images.githubusercontent.com/54747669/135488393-3bbf8c2a-2ac4-4b25-8f97-c3e3e93dc78c.png)
![Screen Shot 2021-09-30 at 10 47 17 AM](https://user-images.githubusercontent.com/54747669/135488417-f5e8c84d-10d0-4a0f-ae26-33714f2c1072.png)

[2021-09-30 15:47] #420 closed, assigned to magjarvis

[2021-09-30 16:28] wrg20 commented on #383
@nbaxley-uiuc  we aren't using the il-buttons everywhere yet.  our buttons were built into the paragraphs before they produced the il-buttons.  So we have to go back and retrofit and redo the override classes for all buttons in all paragraph types.

[2021-09-30 16:32] wrg20 opened #447 "Button active focus state"
The btn-primary class was used a in a lot of the paragraph types which produced a blue outline and box shadow on active focus state.  This is a bootstrap class.  Removing the bootstrap class and just using the btn class appears to be the solution.

[2021-09-30 17:13] mwllr commented on #149
Awesome job Maggie! I believe we are good to go!

[2021-09-30 17:13] #149 closed, assigned to magjarvis

[2021-09-30 17:15] mwllr commented on #428
so close.... at least it's inside the 1140 px now.... but it's inside by about 40px
![Screen Shot 2021-09-30 at 12 15 27 PM](https://user-images.githubusercontent.com/54747669/135501045-a6a97970-6f5f-4893-9894-2eaae26b266f.png)
.

[2021-09-30 21:33] wrg20 opened #451 "Intro Home paragraph buttons styling"
Remove the button styling from the paragraph and use the global button scss styling.

![image](https://user-images.githubusercontent.com/1544079/135533133-e9aff3bb-0592-4648-b9c1-7ec039bb2d05.png)

[2021-10-01 16:50] mwllr opened #452 "Hero paragraph"
- [ ] the alignment isn't working when you don't have an image-should still be able to have left/right and top/bottom without images.

[2021-10-04 19:42] mwllr commented on #83
closing this to move to ACES repository as needed.

[2021-10-04 19:42] #83 closed, assigned to NotThatDavidCross

[2021-10-04 19:42] mwllr commented on #156
closing this and moving to ACES as needed for Galleria issues.

[2021-10-04 19:42] #156 closed, assigned to nobody

[2021-10-04 19:46] mwllr opened #453 "Call to action - when icon is used"
- [x] desktop - left align when icon is used
- [ ] mobile - center when icon is used
- [ ] tablet - left align when icon is used

See designs on #405

[2021-10-06 18:41] robgasc opened #454 "Spotlight title missing"
The page title block is excluded from spotlight pages. Looks like an accidental revert of existing commits on the page title block.

Fix is to revert the revert.

[2021-10-06 18:46] #454 closed, assigned to robgasc

[2021-10-06 18:52] robgasc opened #456 "Spotlight list view does not filter on type."
Spotlights have the Type field, which references the Spotlight Type taxonomy. It makes a lot of sense to have a filter that splits out spotlights by type on this page via url.

- [ ] Filter via type
- [ ] Change title to indicate type
- [ ] Show a page not found if type is not present
- [ ] Change path alias structure to include the type in it, to promote breadcrumbs and readability.

Open to othe

[2021-10-08 13:01] robgasc commented on #439
@nbaxley-uiuc Should this include the paragraphs in sidebar feature as well? Or would it be ok to just include the sidebar if it has content in it, i.e. if someone adds a spotlight to a menu, the menu will show in the sidebar, or a block to the sidebar, etc?

[2021-10-08 13:22] robgasc commented on #93
@nbaxley-uiuc So, for the link, right now the more details field when filled creates an orange button. The title/image are not linked, currently, because the more details could theoretically be unrelated to the title/image. If there is no more details, should we default to linking to the spotlight?

I also have no qualms about making the width fixed-width instead of full-width. The full-width is t

[2021-10-08 13:27] robgasc commented on #439
Additionally, should the sidebar field, when you set it to show sidebar, always show a sidebar, even if there is nothing in it?

[2021-10-08 14:56] nbaxley-uiuc commented on #439
I think it's actually simpler than that.  The listing and detail pages should always use the layout that includes the sidebar region.  If understand it correctly, the actual content to show in that region is controlled by the sidebar menu element itself.  I'd prefer NOT to have a sidebar on/off selector on the spotlight pages.

[2021-10-08 15:45] nbaxley-uiuc commented on #93
1) For the more details button.  I see where your coming from, but my understanding was that the more details is additional reading beyond the content of the spotlight.  So it should be listed as a link at the bottom of the article page.  Anywhere else the spotlight item is listed it should be directing the user to the full article, so the title and the read more button are taking them to the arti

[2021-10-08 17:54] robgasc commented on #439
This is done, the sidebar will only display if the sidebar has a block display on the spotlight, including if the spotlight is in a menu that displays.

[2021-10-08 21:17] nbaxley-uiuc commented on #438
If you've got questions, check with @robgasc.

[2021-10-08 21:18] nbaxley-uiuc opened #458 "Document how to override content type layouts that default to sidebar always on"

[2021-10-08 21:25] nbaxley-uiuc opened #459 "Review ckEditor options and compare with existing setups in ACES and LAS"
#413
#442
#411
#241

[2021-10-11 17:33] wrg20 opened #460 "Add DNS Prefetch for web components"
Add DNS Prefetch for the web toolkit components CDN. <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">

[2021-10-11 17:35] #50 closed, assigned to magjarvis

[2021-10-11 17:38] mwllr commented on #252
closing - either done or converting to web component soon anyway.

[2021-10-11 17:38] #252 closed, assigned to nobody

[2021-10-11 17:39] mwllr commented on #257
done. we brought in images from the web components.

[2021-10-11 17:39] #38 closed, assigned to nobody

[2021-10-11 17:42] #121 closed, assigned to nobody

[2021-10-11 17:43] #263 closed, assigned to wrg20

[2021-10-11 17:43] #224 closed, assigned to nobody

[2021-10-11 17:43] #190 closed, assigned to wrg20

[2021-10-11 17:44] #175 closed, assigned to wrg20

[2021-10-11 17:44] mwllr commented on #257
still need to check all..

[2021-10-11 17:44] #257 closed, assigned to wrg20

[2021-10-11 17:48] #272 closed, assigned to wrg20

[2021-10-11 17:48] #285 closed, assigned to nobody

[2021-10-11 17:48] #306 closed, assigned to nobody

[2021-10-11 17:49] #329 closed, assigned to nobody

[2021-10-11 17:49] #376 closed, assigned to nobody

[2021-10-11 17:50] #278 closed, assigned to wrg20

[2021-10-11 17:51] mwllr commented on #381
bill fixed all link colors.

[2021-10-11 17:51] #381 closed, assigned to nobody

[2021-10-11 17:51] #100 closed, assigned to NotThatDavidCross

[2021-10-11 17:53] #372 closed, assigned to wrg20

[2021-10-11 18:06] mwllr commented on #346
moved to ACES theme repository.

[2021-10-11 18:06] #346 closed, assigned to wrg20

[2021-10-11 18:08] #340 closed, assigned to nobody

[2021-10-11 18:09] mwllr commented on #366
moved to ACES theme repository.

[2021-10-11 18:09] #366 closed, assigned to nobody

[2021-10-11 18:11] #302 closed, assigned to nobody

[2021-10-11 18:11] #439 closed, assigned to robgasc

[2021-10-11 20:05] wrg20 commented on #426
Merge #461 updated link colors, headings and added two additional background colors (altgeld, industrial-blue that may be introduced to paragraphs, buttons will need to be worked out for these two)

[2021-10-12 14:43] wrg20 opened #462 "Remove TB Mega Menu"
Remove the TB Mega menu and options in the theme settings.

[2021-10-12 17:49] wrg20 commented on #444
Merge #463 adjusts the ordering of the body text for the proper alignment.

[2021-10-12 19:39] wrg20 commented on #428
Merge #464

[2021-10-12 19:43] #437 closed, assigned to wrg20

[2021-10-12 20:46] wrg20 commented on #408
I'm not sure where this is showing up @mwllr

[2021-10-12 20:53] wrg20 commented on #408
We can't really remove the subtitle without removing possible content from websites....I can exclude the subtitle from showing in the template but that would potentially be confusing for users if they put something into the UI.

[2021-10-13 13:49] nbaxley-uiuc commented on #271
This ticket is really about STYLING search, @mwllr correct?  Here are several examples of styling from around campus.  Has the design group come up with anything and if not is it worth our time changing things now?

- [ANSC](https://ansc.illinois.edu/search/node?query=Simple) (Drupal framework currentdefault)
- [ACES](https://aces.illinois.edu/search/node?query=Simple)
- [ECE](https://ece.illinois

[2021-10-13 14:00] nbaxley-uiuc commented on #148
Here's a sample page on the sandbox with table content.  Currently it doesn't look right.  https://drupal-sandbox.webtheme.illinois.edu/table-example

[2021-10-13 14:12] nbaxley-uiuc commented on #22
I think this is a configuration change on the link fields in the header, but probably has to be changed in code.

[2021-10-13 14:18] nbaxley-uiuc commented on #413
Related to #459

[2021-10-13 14:19] nbaxley-uiuc commented on #411
Related to #459

[2021-10-13 14:21] nbaxley-uiuc commented on #241
Related to #459

[2021-10-13 14:23] nbaxley-uiuc commented on #442
Related to #459

[2021-10-13 14:27] nbaxley-uiuc commented on #413
LAS uses this module - https://www.drupal.org/project/anchor_link

[2021-10-13 14:53] mwllr opened #465 "Giving"
When you add a fund to the giving page. save.
Then go back and make a change to the fund.
The giving page doesn't update unless you remove the fund and then add it back.
so then you have to update the fund, then update the fund listing page.

[2021-10-13 15:32] nbaxley-uiuc opened #466 "Change Basic HTML configurations to include more buttons by default"
- [x] Table editor
- [x] Paste text
- [x] Paste from Word
- [x] Sub script
- [x] Super script
- [x] Embed Media button https://www.drupal.org/docs/core-modules-and-themes/core-modules/media-library-module/embedding-media-with-ckeditor

For now we are leaving out these configurations
- Text align (left/right/center/justify) - these will be handled by theme styles
- Undo/Redo - These can be done nat

[2021-10-13 15:56] nbaxley-uiuc opened #467 "Create a variable style ordered list"
- [ ] Add the CSS below to the theme
- [ ] Add the variable-ol style to the Styles configuration labeled as Variable numbering
`ol.variable-ol|Variable numbering`

When nesting ordered list, the user should have the option to alter the numbering style between decimal and alpha.  This is not straightforward in CSS, but using a class like the one below will achieve it.  We can use the Styles configu

[2021-10-13 16:02] nbaxley-uiuc commented on #467
Expected formatting is shown below
![image](https://user-images.githubusercontent.com/62560479/137170875-4e8be31f-7dee-42aa-8364-86b44dd84604.png)

[2021-10-13 16:34] mwllr commented on #444
BOTH buttons should left align with text.

![Screen Shot 2021-10-13 at 11 29 48 AM](https://user-images.githubusercontent.com/54747669/137175151-9838d73a-af46-447f-8b4b-b948f0266ef2.png)
.

[2021-10-13 16:40] mwllr commented on #428
still have alignment issues.
all need to align with left margin on desktop.
![Screen Shot 2021-10-13 at 11 37 34 AM](https://user-images.githubusercontent.com/54747669/137176689-1881541c-b5dc-488d-ac84-10b816fc5723.png)

[2021-10-13 16:45] mwllr commented on #428
margins are off on mobile too. Side nav is different than the ones without side nav. Then the full-width ones are different too.....
they are going off the screen instead of staing within the margins of the block I and search box for all big buttons on mobile.

Screenshots are from page: https://illinois-drupal.web.illinois.edu/paragraphs/big-buttons

![36ae89d5-3c64-4deb-836a-4c17c4394eff](https:

[2021-10-13 16:46] mwllr commented on #426
not adding altgeld or industrial-blue as background colors. They are part of the gradients.

[2021-10-13 16:49] mwllr opened #468 "lists - alignments"
- [x] Force all lists to be left aligned

left and centered lists need to display correctly.

Here's an example in call to action, but this will happen globally where alignment can be changed.
![Screen Shot 2021-10-13 at 11 48 09 AM](https://user-images.githubusercontent.com/54747669/137177852-e10a4bc6-dd38-460e-9ee8-855a3f1ecd63.png)
![Screen Shot 2021-10-13 at 11 48 11 AM](https://user-images.gi

[2021-10-13 16:50] mwllr opened #469 "text link focus states - set no outline as default"
Need to set a default so the browser doesn't allow for a box to be applied to text links for the focus states.

![Screen Shot 2021-10-13 at 11 47 55 AM](https://user-images.githubusercontent.com/54747669/137177969-08be28b3-d494-475d-a12e-0989d99d1816.png)

[2021-10-13 17:04] mwllr commented on #426
will review after design on thursday.

[2021-10-13 17:46] mwllr commented on #405
text and lists colors don't match on gradient
![Screen Shot 2021-10-13 at 12 44 29 PM](https://user-images.githubusercontent.com/54747669/137185781-a3a09208-ef66-4cc4-a568-8f636c6729a5.png)

text and list color do match on orange background.
![Screen Shot 2021-10-13 at 11 48 09 AM](https://user-images.githubusercontent.com/54747669/137185871-0afc0e61-7158-4f4c-8c29-6b685b887729.png)

[2021-10-13 17:48] mwllr commented on #408
then leave it for now. creates issues for h2, h3, etc....

[2021-10-13 21:12] mwllr opened #470 "Style for Webtools Calendar"
Design a style in insert a script for webtools calendar.

[2021-10-13 22:02] wrg20 commented on #377
/node also needs to be fixed

[2021-10-14 15:16] wrg20 commented on #377
Merged #471

[2021-10-14 15:18] wrg20 commented on #452
Merged #472

[2021-10-14 16:41] nbaxley-uiuc commented on #406
This is used specifically in the Feature Video paragraph type.

[2021-10-14 18:05] wrg20 commented on #404
https://ckeditor.com/docs/ckeditor4/latest/guide/dev_howtos_styles.html

[2021-10-14 21:03] wrg20 commented on #403
I believe this one is going to get moved to the ACES theme as we don't want to change the base permissions for the content manager and allow the administrator to set them to whatever they want

[2021-10-14 21:07] #403 closed, assigned to wrg20

[2021-10-14 21:41] dlstrong opened #473 "Interface typo(s)"
In the screen shot taken at https://drupal.webtheme.illinois.edu/sites/default/files/inline-images/drupal_subfooter.png in the documentation, there are several instances of "Text to displayed."

That should either be "Text to display" or "Text to be displayed." I'm more inclined toward the more-active "Text to display" myself.

[2021-10-14 21:54] dlstrong opened #474 "Docs: Simplify the email domain explanation"
on https://drupal.webtheme.illinois.edu/site-setup/basic-site-settings I'm reading "Use an address ending in your site's domain to help prevent this email from being flagged as spam."

I'm inclined to suggest "Use an address ending in @illinois.edu to help prevent this email from being flagged as spam" for two reasons:

a) People who don't know what a domain is aren't going to know how to do that

[2021-10-15 14:03] nbaxley-uiuc commented on #404
Are these configurations in code now?

[2021-10-15 21:39] mwllr opened #475 "Accessibility test - base"
from keith
https://drupal.webtheme.illinois.edu/accessibility-testing/undergraduate-financial-support

* [ ] The heading for the left nav must be an H2, not an H3. All new sections / regions must begin with H2.
  * The "In This Section" heading could remain in the page but be hidden visually to correct this issue.
* [x] &lt;nav&gt; regions must be uniquely labelled.
* [ ] The aria-labelledby  prop

[2021-10-19 18:08] robgasc commented on #90
Pushed these changes. Pull request should be good to go. No config changes needed.

[2021-10-20 04:54] wrg20 opened #478 "Remove faculty explorer images"

[2021-10-20 14:14] mwllr commented on #408
I removed the

- [ ] remove section title - we really don't need it and it messes with adding h2 or h3...

[2021-10-20 14:15] mwllr commented on #452
working now.

[2021-10-20 14:16] mwllr commented on #452
![Screen Shot 2021-10-20 at 9 15 45 AM](https://user-images.githubusercontent.com/54747669/138110564-58db46e4-6ac3-4efb-890c-a30ca29f7327.png)

[2021-10-20 14:16] mwllr commented on #377
not showing on sandbox today when I checked.

[2021-10-20 18:28] wrg20 commented on #408
Going to split out the configuration changes into another issue from code changes.

[2021-10-20 18:29] wrg20 opened #480 "Rich Text Paragraph Configuration Changes"
- [x] Add option for gray background 100% of screen width. #f4f4f4 is gray background color. If they would do gray next to side nav, it wouldn't be full width, any other time, it would be full width.
- [x] title and subtitle should always be left-aligned
- [x] title and subtitle should left align visually with body text - currently they are slight moved to right. see screenshot.
- [x] make sure th

[2021-10-20 18:30] wrg20 commented on #408
Created issue #480 for the configuration changes so I can submit the code changes on this issue.

[2021-10-20 18:35] wrg20 commented on #408
Merged #481 for margins/padding and large 12 columns

[2021-10-20 18:44] wrg20 commented on #426
Merged #482 removes the two other background colors.

[2021-10-20 18:44] #426 closed, assigned to wrg20

[2021-10-20 20:29] NotThatDavidCross commented on #383
Will be fixed for ANSC when the current dev site is moved over with the new framework.

[2021-10-20 22:48] NotThatDavidCross commented on #383
I couldn't find a paragraph type where the button didn't show the text in that situation.

[2021-10-21 16:59] khays9 commented on #475
copied to top

* [ ] The heading for the left nav must be an H2, not an H3. All new sections / regions must begin with H2.
  * The "In This Section" heading could remain in the page but be hidden visually to correct this issue.
* [ ] &lt;nav&gt; regions must be uniquely labelled.
* [ ] The aria-labelledby  property of the &lt;il-section-nav&gt; element does not appear to point to an ID that exists

[2021-10-21 17:37] #90 closed, assigned to robgasc

[2021-10-21 22:53] mwllr opened #483 "Content on fund pages ins't contained"
Once you update a fund listing, the content is pushed out to the left side of screen. can we align in main content section?

![Screen Shot 2021-10-21 at 5 38 04 PM](https://user-images.githubusercontent.com/54747669/138367655-a53f4cf0-40a8-40d3-8853-72c28e2837f1.png)

[2021-10-21 22:55] mwllr opened #484 "Fund page updating"
once you make a fund page with funds. Save it, then need to make an edit to a fund like updating the fund number. You have to go back and put the fund back into the page. just updating the fund doesn't update the page.
Ask Melissa if questions.

[2021-10-22 17:41] robgasc commented on #93
The branch is merged, closing this issue. :)

[2021-10-22 17:41] #93 closed, assigned to robgasc

[2021-10-25 21:01] wrg20 commented on #428
Merged #487 - Fixed margins and padding

[2021-10-26 15:11] mwllr opened #488 "Content Page - #paragraphs"
- [x] Change # of paragraphs to 10
- [x] Move sidebar and # of paragraphs to top of the page under page title before body.

[2021-10-26 15:46] wrg20 opened #489 "Fix il-blue buttons on hero"
![image](https://user-images.githubusercontent.com/1544079/138914330-fe478aaa-f7ae-4111-8565-c3fea64b629e.png)

The illinois framework button code is interfering with the toolkit button code.

[2021-10-26 18:04] robgasc commented on #489
I knew I should have added a note here too; this a problem with the overrides on the il-blue style; it only shows the text white when the link is visited. I initially thought it was something with the toolkit, but it looks like we do a local override.

I believe the culprit is
[code]
in _web-components.buttons.scss. Color should be white. Not sure what color visited should be then, as visited link

[2021-10-26 18:07] wrg20 commented on #444
The button situation is tough because you can not predict the length of the button and add the appropriate margin around it.  Therefore, each button stands alone on a line.

[2021-10-26 21:26] mwllr commented on #428
good to go! aligns!

[2021-10-27 14:27] #417 closed, assigned to magjarvis, robgasc

[2021-10-27 14:39] nbaxley-uiuc opened #491 "button on gray background is not showing up correctly. hovers correct. missing blue outline on first load."

[2021-10-27 14:39] nbaxley-uiuc opened #492 "fingerprint full, left, or right not showing on orange or blue gradients"

[2021-10-27 16:08] trubach commented on #440
Tested and confirmed fixed in Drupal 9

![image](https://user-images.githubusercontent.com/56594946/139104390-9946d045-31ee-428b-94ac-5c895ba91670.png)

[2021-10-27 16:08] #440 closed, assigned to nobody

[2021-10-27 16:12] trubach commented on #393
Drupal 9 is included in the latest dev release. Documentation on how to upgrade a site is still needed.

[2021-10-27 17:09] wrg20 opened #494 "Remove focus outline for heading links"

[2021-10-27 17:14] wrg20 commented on #494
Merge #495 - @mwllr removed the outline on focus

[2021-10-27 17:47] wrg20 commented on #428
Need to fix background colors. Changed them, going to revert back

[2021-10-27 18:14] wrg20 commented on #428
Fixed with merge #498

[2021-10-27 18:14] #428 closed, assigned to wrg20

[2021-10-28 13:43] mwllr commented on #444
Looks much better!!! done.

[2021-10-28 13:43] #444 closed, assigned to wrg20

[2021-10-28 13:55] mwllr commented on #405
@magjarvis - can we remove padding on left of icons on mobile and tablet?
![Screen Shot 2021-10-28 at 8 54 57 AM](https://user-images.githubusercontent.com/54747669/139270416-857221ec-1844-4e79-b950-a143da158513.png)

[2021-10-28 15:17] mwllr opened #500 "call to action button on gray"
- [ ] Call to action needs to replace the btn class with il-button

[2021-10-28 15:20] #405 closed, assigned to magjarvis

[2021-10-28 15:21] mwllr commented on #491
i accidentally created a duplicate ticket.... closing this one. already closed call to action.

[2021-10-28 15:21] #491 closed, assigned to nobody

[2021-10-28 15:33] #416 closed, assigned to magjarvis, robgasc

[2021-10-28 20:49] wrg20 commented on #475
* [ ] The heading for the left nav must be an H2, not an H3. All new sections / regions must begin with H2.
  * The "In This Section" heading could remain in the page but be hidden visually to correct this issue.
* [ ] The aria-labelledby  property of the &lt;il-section-nav&gt; element does not appear to point to an ID that exists in the page. Further this property must be on the &lt;nav&gt; eleme

[2021-10-28 21:06] wrg20 commented on #475
* [ ] &lt;nav&gt; regions must be uniquely labelled.

Added aria-label to "additional header links" and "subfooter links"

[2021-10-28 21:19] wrg20 commented on #475
* [ ] Complementary region (left nav &lt;aside&gt;) must not be inside the main region.
  * This is a common Drupal template issue to look out for--sidebars are often implemented as &lt;aside&gt; elements, which have a complementary role by default. Move the &lt;aside&gt; outside the &lt;main&gt; element or change the &lt;aside&gt; to a &lt;div&gt;.
   * Note: either way, remove role=complementary

[2021-10-28 21:35] mwllr commented on #417
small tweaks. @magjarvis
![Screen Shot 2021-10-28 at 4 30 44 PM](https://user-images.githubusercontent.com/54747669/139339732-91736a42-db3e-436f-a5dc-b369a26fd5b6.png)

[2021-10-28 22:08] wrg20 opened #504 "Grouped Feature width issue"
Large column set to 9 instead of 12

[2021-10-28 22:19] wrg20 opened #506 "Call to action narrow padding"
The padding for the call to action is adjusted by the

[2021-10-28 22:21] wrg20 commented on #506
Fixed width is being overridden.
![image](https://user-images.githubusercontent.com/1544079/139344217-ffec1201-998b-465f-ac1a-09db33df52e2.png)

[2021-10-29 04:25] mwllr opened #509 "Editor - change to Gin theme"
When editing pages, it's a very narrow view. Make it a wider view please
![Screen Shot 2021-10-28 at 10 51 20 PM](https://user-images.githubusercontent.com/54747669/139375477-a4ee0ed5-efcf-491a-b5ea-da9e3bede0b1.png)
.

[2021-10-29 04:27] wrg20 commented on #489
Merge #508 should fix this

[2021-10-29 05:03] wrg20 commented on #489
Need to remove the .btn class
![image](https://user-images.githubusercontent.com/1544079/139378714-45135761-17e3-4d3e-83c7-3cade9a8a135.png)

[2021-10-29 19:41] #489 closed, assigned to wrg20

[2021-10-29 19:58] wrg20 opened #520 "<nav> regions in the footer must not be empty. If a region has not content, it should not be in the page."

[2021-10-29 20:04] wrg20 commented on #475
@mwllr the other open issues are for the components team...I converted my last remaining task to an issue.

[2021-10-29 20:04] #475 closed, assigned to wrg20

[2021-10-29 20:05] wrg20 commented on #500
@mwllr can you confirm this is working?

[2021-10-29 20:10] wrg20 commented on #473
Merge #521 changed all instances to "Text to display"

[2021-10-29 20:10] #473 closed, assigned to wrg20

[2021-10-29 20:37] mwllr opened #523 "Documentation for news block"
Create documentation for:

There is concern that the view-page will cause confusion when a site wants to do something different with the /news/ page. In order to have something there for sites with minimal effort, we can leave it there but we need to have a block version of this view available for people to use when they don't want to have the the standard page listing. We can document that the be

[2021-10-29 20:37] mwllr commented on #415
We believe this is done. Created a new issue for documentation. Still may need template file/css.
@nbaxley-uiuc

[2021-10-29 20:37] #415 closed, assigned to magjarvis, robgasc

[2021-10-29 20:43] mwllr opened #524 "News - archive block"
- [x] needs styling to heading to align within page

[2021-10-29 20:46] mwllr opened #525 "News - individual article"
- [x] remove 30 px margin above byline (essentially removes 30px between title and horizontal rule above author) when subtitle isn't used, too much space shows.

[2021-10-29 20:47] mwllr opened #526 "News- More news block layout/design"
- [x] Add padding under article titles
- [x] change size of article titles
- [x] change link to altgeld

[2021-10-29 20:49] #447 closed, assigned to wrg20

[2021-10-29 20:51] wrg20 opened #527 "Remove web component button code when new toolkit (2.3) is used"

[2021-10-29 21:02] #408 closed, assigned to wrg20

[2021-10-29 21:02] #500 closed, assigned to wrg20

[2021-10-29 21:09] #377 closed, assigned to wrg20

[2021-10-29 21:24] #451 closed, assigned to nobody

[2021-10-29 21:24] trubach commented on #438
@robgasc  - On the news listing page on the sandbox site, there is a sidebar menu block in the first sidebar region, but it isn't showing up on the news listing page. See https://illinois-drupal.web.illinois.edu/news

[2021-10-29 21:32] #452 closed, assigned to wrg20

[2021-10-29 21:32] #383 closed, assigned to NotThatDavidCross

[2021-10-29 21:32] #480 closed, assigned to NotThatDavidCross

[2021-10-29 21:33] mwllr opened #528 "News - Highlighted news block config"
- [x]  images showing up in summary portion of view. update config or add advanced text formatter module
- [x]  The title of the article should be a link to the article the same as the "Read full story button"

[2021-10-29 21:33] #414 closed, assigned to magjarvis, robgasc

[2021-10-29 21:39] #36 closed

[2021-10-29 21:40] #48 closed, assigned to mwllr

[2021-10-29 21:40] #55 closed, assigned to mwllr

[2021-10-29 21:40] #98 closed, assigned to mwllr

[2021-10-29 21:40] #96 closed, assigned to mwllr

[2021-10-29 21:42] #148 closed, assigned to nobody

[2021-10-29 21:43] mwllr opened #529 "Table Styles in Rich Text/Wysiwyg"
Tables are defined in the toolkit. Need to be added to Drupal rich text.
https://cdn.brand.illinois.edu/toolkit/dev/examples/stylesheets/tables/index.html

[2021-11-02 13:22] robgasc commented on #438
In my testing, the sidebar display piece is working; but the menu is not rendering in any sidebar anywhere. Right now I've got the archive news block and the main menu block placed it in, no menu. I'm going to close #438, and open a new issue for menu rendering.

[2021-11-02 13:22] #438 closed, assigned to magjarvis, robgasc

[2021-11-02 13:25] robgasc opened #530 "Main navigation menu not rendering in sidebar region"
Several pages have links in the main navigation on the sandbox (https://illinois-drupal.web.illinois.edu/news, https://illinois-drupal.web.illinois.edu/paragraphs/big-buttons) but do not render a menu. Might be menu config. Will test with latest code on local and see if I can reproduce this issue.

[2021-11-02 13:41] robgasc commented on #530
On local the menu block appears fine after items are added to the menu and set to display there.

[2021-11-02 13:48] robgasc commented on #530
Config on sandbox included a restriction to only pages matching news/* on the main navigation block in the sidebar 1 region, which prevents /news and /paragraphs/big-buttons from displaying the menu as well. I've removed the restriction and both are displaying fine. Closing #530.

[2021-11-02 13:48] #530 closed, assigned to nobody

[2021-11-05 16:19] #393 closed, assigned to trubach

[2021-11-05 17:59] nbaxley-uiuc opened #531 "Document new site creation and site update process"

[2021-11-05 18:07] nbaxley-uiuc opened #532 "Fix formatting on News CT Teaser display"
- [x] The node title is displaying outside the page width
- [x] The byline is not showing author and date correctly.  Currently shows blank area with border on top and bottom.  Should be formatted as it is on the main article page.

[2021-11-05 20:19] nbaxley-uiuc opened #533 "Include the "Block Exclude Pages" plugin"
https://www.drupal.org/project/block_exclude_pages

[2021-11-09 19:24] nbaxley-uiuc commented on #411
For example.  In the screenshot below, the images is supposed to be right aligned to the text with the text flowing around it.  The preview in the editor shows correctly.  The screenshot is from http://mcb.web.illinois.edu/academics/graduate-studies.

![image](https://user-images.githubusercontent.com/62560479/140990882-f923c682-bea8-4edc-a0a6-6339554ea020.png)

[2021-11-09 23:17] nbaxley-uiuc commented on #241
I'm closing this since I think it's mostly reflected in #459 and the related tickets there.

[2021-11-09 23:17] #241 closed, assigned to nobody

[2021-11-09 23:33] nbaxley-uiuc commented on #467
@magjarvis I think I have the CSS correct for this, but it needs testing and integrating into the theme as well as getting the class integrated into the CK Editor for Basic HTML

[2021-11-09 23:35] nbaxley-uiuc commented on #58
@wrg20 is this still needed?  A lot has changed since Apr 13 :)

[2021-11-09 23:46] nbaxley-uiuc commented on #52
In my testing, the PDFs uploaded to the media library are accessible with the full URL, but the alias takes you to the edit form.  There is an example on the sandbox [here](https://drupal-sandbox.webtheme.illinois.edu/DummyPDF.pdf?destination=/admin/content/media-grid).  [This URL gives you the document](https://drupal-sandbox.webtheme.illinois.edu/sites/default/files/2021-11/Test%20Document.pdf),

[2021-11-10 01:27] nbaxley-uiuc opened #534 "Need to allow users to upload files into the Media Library through the ckEditor"
Use the same libraries that we use in LAS.

- [x] Add libraries to modules
- [x] Configure Basic HTML to allow uploads
- [x] Add the LinkIt library and configure it to be the default link tool

[2021-11-10 14:25] nbaxley-uiuc commented on #22
The configuration I'm talking about is [here](https://drupal-sandbox.webtheme.illinois.edu/admin/appearance/settings/illinois_framework_theme) and I think that the link fields need to be configured so that they allow both internal and external links.  I see that configuration option on [other link fields](https://drupal-sandbox.webtheme.illinois.edu/admin/structure/paragraphs_type/cta/fields/parag

[2021-11-10 14:42] nbaxley-uiuc commented on #466
@NotThatDavidCross are you working on this issue?

[2021-11-10 14:43] nbaxley-uiuc opened #535 "Add il-formatted to main content"
The campus stylesheet has a class called [il-formatted](https://github.com/web-illinois/toolkit/wiki/stylesheets#il-formatted) that will "set all children of this item as formatted in Illinois colors and fonts. This includes headings, paragraphs, anchors, tables, ordered lists, unordered lists, and definitions."  This should probably be applied to the main div for content that currently has the il

[2021-11-10 16:04] nbaxley-uiuc commented on #535
The plan is to add the class to the region content template file.  @nbaxley-uiuc will do some inspector tests to confirm no major problems.

[2021-11-10 17:07] nbaxley-uiuc commented on #535
**Running list of issues**
## General text
- **ok** bold is changed from "bolder" to weight 600
- **ok** The size of bullet discs get slightly smaller.  Not sure what's causing it.
- **ok** H2s gain extra margin on top.  Needs to be reversed.  Being addressed in #537
## Hero
- Reduces the title font size
- adds bullets to the LI's
- Causing all kinds of issues with the button colors.  I think some

[2021-11-10 18:04] nbaxley-uiuc opened #536 "Custom blocks not being placed correctly"
While testing the il-formatted class, I created a custom block and tried placing it in the main content region.  Each time I did the block showed up in the footer instead.  Tyler found some [code in the footer regions](https://github.com/web-illinois/illinois_framework_theme/blob/1.x/templates/region/region--footer.html.twig#L92) that seems to be grabbing custom block # 1 and putting it in the foo

[2021-11-10 18:12] nbaxley-uiuc commented on #535
I added a temporary button to the sandbox site that will turn on the il-formatted class on the <main> tag.  The button is red when the class is NOT on and blue when it is.

[2021-11-10 18:39] nbaxley-uiuc commented on #535
## Button issues
- The button color issues seem to come from some styles we have [here](https://github.com/web-illinois/illinois_framework_theme/blob/b8e357689b495e6b331caccf7c204c72795094d6/scss/illinois-framework/utilities/_background--color.scss#L35) that change buttons labeled as white to have a background color orange.  We need to style the buttons we want to be orange to use both the il-butt

[2021-11-10 19:35] nbaxley-uiuc opened #537 "All H2s need to be orange and have zero margin on top despite il-formatted or other overrides"
Currently being applied in the RT template file, but needs to be universal

[2021-11-10 20:02] nbaxley-uiuc commented on #467
This should be solved by #535

[2021-11-10 21:40] mwllr commented on #537
make sure illini orange on white and altgeld on gray.

[2021-11-10 21:49] magjarvis commented on #407
Settings for jpeg output sizes look they are universally set to 75% quality.

[2021-11-10 22:02] nbaxley-uiuc commented on #407
Is that typical?  What do we have them set at in LAS?

[2021-11-10 22:36] magjarvis commented on #407
So, on the LAS sites, we are using Imagick to compress the images to 85% (go to Config>Media>Image toolkit to see the settings) ILFW is currently using GD2 settings at 75%. I wasn't sure if we wanted to change the image processor on the framework or not and didn't feel qualified enough to make that call. I would suggest making a new issue for that one.

[2021-11-10 23:16] nbaxley-uiuc opened #538 "Evaluate image processing configurations"
LAS sites currently use Imagick to compress all images to 85% (go to Config>Media>Image toolkit to see the settings) .ILFW is currently using GD2 settings and compressing to 75%.   Do we want/need to make any changes to these tools and or levels?

[2021-11-10 23:16] nbaxley-uiuc commented on #407
Good call!  Let's get these configurations into GIT and tested so we can close this one.  I created a new one #538

[2021-11-11 14:40] nbaxley-uiuc commented on #537
@mwllr Is it not possible to just use altgeld always for simplicity?

[2021-11-11 15:24] trubach commented on #407
@nbaxley-uiuc , I have the image changes up on the sandbox site. When you get a chance, please test it out and go ahead and close this issue if it looks good.

[2021-11-11 15:38] nbaxley-uiuc commented on #407
Confirmed that the checks and text have all been updated and are working.

[2021-11-11 15:38] #407 closed, assigned to wrg20, magjarvis

[2021-11-12 14:42] nbaxley-uiuc commented on #418
Maggie will test the paragraph spacing with the to line with what the design specs are wanting.

[2021-11-12 18:23] nbaxley-uiuc commented on #524
I think that the heading is in the correct location, but there is extra space to the left of the content.  When the news listing page is full screen (no sidebar) there seems to be more, but there is still some when there is a sidebar as well.  [Full screen Example here](https://mcb.web.illinois.edu/news) [Sidebar example here](https://drupal-sandbox.webtheme.illinois.edu/news)

[2021-11-12 18:26] nbaxley-uiuc opened #539 "News archive PAGE formatting"
The title is in the correct location, but there is extra space to the left of the content. When the news listing page is full screen (no sidebar) there seems to be more, but there is still some when there is a sidebar as well. Full screen Example here Sidebar example here

[2021-11-12 18:28] nbaxley-uiuc commented on #524
Here is an [example of the block heading not being contained](https://drupal-sandbox.webtheme.illinois.edu/news-block-test-page).  This is also a problem on the Highlighted News block on the home page of the sandbox.  If we can define a solution that catches ANY block title that would be best.

[2021-11-12 18:40] magjarvis commented on #539
Check with @mwllr on this. On full screen, I set up the content to only be 900px wide to follow with the rich text and paragraph standards for blocks of text. That's why there is extra space on both sides.

With the sidebar news, it looks like we'll just need to override the padding that's getting inherited from the .fixed-width class

[2021-11-12 18:48] nbaxley-uiuc commented on #525
@mwllr I think it's the bottom margin on the H1.  Is that a change that needs to be made just on news or should it be made on ALL pages?

[2021-11-12 18:51] nbaxley-uiuc commented on #525
Example pages for testing:

- [News with no subtitle](https://drupal-sandbox.webtheme.illinois.edu/news/2018-09-28t183651/bollero-lead-college-aces-interim-dean)
- [News with subtitle](https://drupal-sandbox.webtheme.illinois.edu/news/2019-09-27t183230/psychology-faculty-investigates)
- [Content page with title](https://drupal-sandbox.webtheme.illinois.edu/contact-test/undergraduate-degrees-big-bu

[2021-11-12 18:54] nbaxley-uiuc commented on #532
[Example here](https://drupal-sandbox.webtheme.illinois.edu/taxonomy/term/4)

[2021-11-12 22:10] nbaxley-uiuc commented on #539
I just talked with @mwllr and we can remove ANY of the 900px width limitations.

[2021-11-12 22:18] nbaxley-uiuc commented on #529
This MIGHT get fixed putting il-formatted onto the main tag.  Needs testing

[2021-11-12 22:26] nbaxley-uiuc commented on #524
The change needs to be to move the top margin from the tagline to the H2 subtitle so the space is only applied when the subtitle is there.

[2021-11-15 20:59] #528 closed, assigned to magjarvis, robgasc

[2021-11-16 15:58] mwllr opened #542 "Convert Big Buttons paragraph to use the "Card" component from the toolkit"
Replace the big button paragraph code/backend with the component.
the drupal paragraph is called big buttons.
the component is called clickable cards.
all fields and such stay the same, but we will want to use the functionality and styling and such from the component.

[2021-11-17 17:32] mwllr opened #543 "(re)Set Call to action width to 900x"
need to get margins back into the call to action. Nate and I talked about not needing content to stay in 900, but that general rule doesn't apply to call to actions. Please put the margins back in to where they were.
@nbaxley-uiuc

[2021-11-18 15:55] robgasc commented on #524
Just pushed fix that addresses the original issue. Not sure what the last comment from @nbaxley-uiuc is related to, but it seems unrelated to this issue.

[2021-11-23 18:09] nbaxley-uiuc commented on #525
The change needs to be to move the top margin from the tagline to the H2 subtitle so the space is only applied when the subtitle is there.

[2021-11-23 18:09] #524 closed, assigned to robgasc

[2021-11-23 18:36] robgasc commented on #532
What fields should be on the teaser? And for the byline/date, should it match the full article? I'm not sure if this was ever designed formally anywhere, so it is kind of unclear what it needs to look like.

I do have this addressed overall, the full view was being applied to the teaser view as well because the template was named for the generic level.

[2021-11-23 19:00] #539 closed, assigned to robgasc

[2021-11-23 20:53] wrg20 opened #546 "Orange button visited hover text"
The color of the orange button text on a visited hover action is orange.
![image](https://user-images.githubusercontent.com/1544079/143116133-7c0d0e87-e25f-42d6-a9ec-24d0599f37a6.png)

[2021-11-23 23:34] nbaxley-uiuc opened #547 "Review and discuss the site load speeds"
The review should be holistic, but some areas to pay particular attention to are:
- image compression
- image types
- image resizing
- CDN resource loading
- Render blocking resource loads
- Appropriate caching

One testing tool that has been suggested is https://gtmetrix.com/

[2021-11-23 23:36] nbaxley-uiuc opened #548 "Create a source code editor mode"
To make adding script and other custom things to certain pages, create a source code text editor option to complement Full HTML.  It may need to use no editor or a customized ckEditor that could leverage a source code styling plugin such as [Code Mirror](https://www.drupal.org/project/ckeditor_codemirror)

[2021-11-23 23:38] nbaxley-uiuc opened #549 "Use Advanced Text Formatter for all summary listings"
We are switching all of the News CT summary listings to use the Advanced Text Formatter to generate the summary which offers more options for stripping html tags out (including images).

[2021-11-24 20:48] mwllr commented on #488
@wrg20

[2021-11-29 17:00] #392 closed, assigned to wrg20, trubach

[2021-11-29 17:04] trubach commented on #532
Re-opening to verify that the issues are fixed. @nbaxley-uiuc , the sandbox site should be updated, can you see that the teasers are displaying correctly?

[2021-11-29 17:12] robgasc commented on #532
@trubach No, that pull definitely doesn't. That pull request only adds the teaser template, still need to get the styling in place.

[2021-11-29 17:41] nbaxley-uiuc commented on #532
Agreed.  Still [needs some work.](https://drupal-sandbox.webtheme.illinois.edu/taxonomy/term/4)  .  @robgasc can we roll all of the changes and application into one push?

[2021-11-29 21:21] trubach commented on #538
I've got a fix for this in the works @wrg20

[2021-11-29 22:30] wrg20 commented on #538
Nice!

From: Tyler Rubach ***@***.***>
Sent: Monday, November 29, 2021 3:22 PM
To: web-illinois/illinois_framework_theme ***@***.***>
Cc: Gutierrez, William Randolph ***@***.***>; Mention ***@***.***>
Subject: Re: [web-illinois/illinois_framework_theme] Evaluate image processing configurations (Issue #538)

I've got a fix for this in the works @wrg20<https://urldefense.com/v3/__https:/github.com/w

[2021-11-29 22:35] nbaxley-uiuc opened #554 "Button formatting with il-formatted tag"
There are several places where adding the il-formatted tag to the main div tag causes issues with button formatting.  Unfortunately the buttons are applied in some very specific places that are going to require some more intricate fixes.

## Hero
Color combinations are not being honored.  These are the four combinations but I'm not sure if we're using the il-hero component incorrectly or something

[2021-11-29 22:37] nbaxley-uiuc commented on #554
@mwllr and @magjarvis I'm not sure who created the CSS classes for our background/button combos.  They are great in what they do, but they don't use the button color classes from campus.  We either need to change to using those (and I guess add more background logic to the templates) or make the CSS rules explicit enough that they can override the campus classes.  This is pretty important one if w

[2021-11-30 15:25] trubach commented on #532
Reopening to get approval of changes

[2021-11-30 16:09] trubach commented on #532
@nbaxley-uiuc - the sandbox has been rebuilt with the latest changes. Mind verifying that this issue is resolved and close it?

[2021-11-30 16:16] trubach commented on #413
Anchors are now available in the rich text editor:

![image](https://user-images.githubusercontent.com/56594946/144085105-8761a86e-1059-47fe-9faa-452193782dae.png)

I'm closing the issue for now. If we want to automatically add anchors to every paragraph, I think that might need to be a separate issue.

[2021-11-30 16:16] #413 closed, assigned to trubach

[2021-11-30 16:16] trubach commented on #413
An example of the anchor in action is at: https://illinois-drupal.web.illinois.edu/paragraphs/rich-text-2#anchor_test

[2021-11-30 16:20] trubach commented on #538
The default image processor is now set to imagick. I included an update hook that will set it to imagick for existing sites. See PR on the core module above.

[2021-11-30 16:20] #538 closed, assigned to trubach

[2021-11-30 16:50] trubach commented on #466
Changes brought into the profile through PR web-illinois/illinois_framework_profile#16

[2021-11-30 16:57] #466 closed, assigned to NotThatDavidCross, trubach

[2021-11-30 18:02] nbaxley-uiuc commented on #535
The checked items are fixed but waiting on the button fixes #554 before making the change to actually add the il-formatted class.

[2021-11-30 19:31] robgasc commented on #532
Ok, so even linking a pull request to an issue will close the issue. Reopening for review!

[2021-12-01 04:59] wrg20 opened #559 "Removing <base> changes the /images directory files location within the theme"
The <base> tag assigns the base path for the /images folder within the theme.  All of the paths for images should be changed in the SCSS and template files to be relative to /theme instead of /image in order to remove the <base> tag.

[2021-12-01 05:13] wrg20 commented on #559
![image](https://user-images.githubusercontent.com/1544079/144175897-2a0397bf-cd40-4251-8e2e-6fc66db18f27.png)
![image](https://user-images.githubusercontent.com/1544079/144175932-4346c00c-d4b1-4cb1-832c-476477c8979a.png)

[2021-12-01 05:46] wrg20 commented on #559
merged #560 fixes the base path issue for fingerprint images

[2021-12-01 13:52] nbaxley-uiuc commented on #532
Looks good!

[2021-12-01 13:52] #532 closed, assigned to robgasc

[2021-12-01 14:10] nbaxley-uiuc commented on #537
[Example of an H2 in a non-RT situation.](https://drupal-sandbox.webtheme.illinois.edu/news/2019-09-27t183230/psychology-faculty-investigates)

[2021-12-01 14:18] nbaxley-uiuc commented on #478
@wrg20   Is this still open?  Do you have an example of the issue?  Is it specific to ACES or more systemic?

[2021-12-01 14:21] nbaxley-uiuc commented on #483
The fund pages aren't designed to be viewed publicly.  The funds will always be shown in a fund listing page.  It would be nice to fix this just for completeness, but I think it's a low priority

[2021-12-01 14:50] nbaxley-uiuc commented on #484
This is a caching issue.  If you open the page as a logged out person or clear the cache manually the number gets updated.  I don't think we need to do any changes here.

[2021-12-01 14:50] #484 closed, assigned to nobody

[2021-12-01 14:57] nbaxley-uiuc commented on #492
Fixed with #405

[2021-12-01 14:57] #492 closed, assigned to nobody

[2021-12-01 15:24] nbaxley-uiuc commented on #504
@wrg20  Is this still an issue?

[2021-12-01 15:50] nbaxley-uiuc commented on #396
No longer a problem

[2021-12-01 15:50] #396 closed, assigned to wrg20

[2021-12-01 15:52] #271 closed, assigned to wrg20

[2021-12-01 16:18] mwllr opened #561 "Accordion - add component"
Need to add accordion as an option for paragraph type.  Need the ability to add text above and below the accordion in the paragraph.

Fields:
Heading - h2
Text Box - so we can put a paragraph or more before the accordion.
Accordion section
- options: il‑accordion_multiple or il‑accordion
- options:il‑details-solid or il‑details-bordered
- each accordion item will have the summary and then area for

[2021-12-01 16:25] mwllr opened #562 "Feature Split- Change to component"
Feature Split paragraph type can be changed out to the component.
https://github.com/web-illinois/toolkit/wiki/il-image-feature

Some new attributes are included now with image size.
Background colors are a little different.

[2021-12-01 17:18] nbaxley-uiuc commented on #542
Since we don't want to allow HTML tags in the body, that field should be plain text.

[2021-12-01 17:32] mwllr opened #563 "Feature Video - Change to component"
Feature Video paragraph type can be changed out to the component.
https://github.com/web-illinois/toolkit/wiki/il-video-feature

Some new attributes are included now with image size.
Background colors are a little different.

[2021-12-01 19:29] magjarvis commented on #411
I may need some help with this one: @wrg20 @trubach @robgasc

It looks like this might have something to do with the sidebar? The issue is the align-right/align-left/align-center classes aren't being applied to the image. However, they ARE being applied in the News CT. Also, they are being applied in the body when the sidebar is disabled
<img width="557" alt="Screenshot 2021-12-01 131949" src="htt

[2021-12-01 21:04] magjarvis opened #564 "Big Buttons - add padding"
- [x] 60px top padding
- [x] 75px bottom padding

[2021-12-01 21:05] magjarvis opened #565 "Intro paragraph - update padding"
- [x] 60px top padding
- [x] 75px bottom padding
- [x] remove labels from display
- [x] add space between large and small text

[2021-12-01 21:06] magjarvis opened #566 "Icon row - update padding between heading and top of paragraph"
- [ ] 60px padding between heading and top of paragraph

[2021-12-01 21:07] magjarvis commented on #418
closing issue and replacing with #564, #565, & #566

[2021-12-01 21:07] #418 closed, assigned to wrg20, magjarvis

[2021-12-01 22:47] #520 closed, assigned to nobody

[2021-12-01 22:55] nbaxley-uiuc commented on #404
Still need the solid blue button

[2021-12-01 22:59] nbaxley-uiuc opened #570 "Change sizes on Contact PT"
- [x] Set h2 title of paragraph font-size 35px
- [x] Set title of person/thing font-size 28px
- [x] Set Subtitle font-size 24px

[2021-12-01 23:01] wrg20 commented on #554
@nbaxley-uiuc when the buttons were created there was no il-formatted classes when backgrounds were being considered.  That has just recently been looked at by design.  So using il-formatted will require changing how our backgrounds work on all of the paragraphs.

[2021-12-02 05:36] #559 closed, assigned to wrg20

[2021-12-02 05:37] #546 closed, assigned to wrg20

[2021-12-02 16:30] nbaxley-uiuc commented on #554
After Melissa and I talked yesterday morning we realized that we had to put the il-formatted on the individual paragraphs instead of the entire content area.  The Hero web component, for example, explicitly expects il-formatted to NOT be present.  I pushed up a change last night to add the il-formatted to most paragraphs and the body section on other CTs.  I left it off of the paragraph types that

[2021-12-02 19:10] #525 closed, assigned to robgasc

[2021-12-02 19:51] magjarvis commented on #566
@mwllr current padding on sandbox is 60px between heading and top of paragraph. do you want me to reduce the padding?

[2021-12-02 21:53] #570 closed, assigned to magjarvis

[2021-12-02 21:54] #543 closed, assigned to magjarvis

[2021-12-02 21:54] #564 closed, assigned to magjarvis

[2021-12-02 22:37] magjarvis commented on #566
60px padding is already on sandbox

[2021-12-02 22:37] #566 closed, assigned to magjarvis

[2021-12-03 14:47] robgasc commented on #534
The media library is already configured to allow uploads in editor for any media type. If you edit a standard node set to Basic HTML, there is an "Insert from Media Library" button which has a gui for doing uploads. More clarification would be excellent @nbaxley-uiuc

[2021-12-03 14:47] #526 closed, assigned to robgasc

[2021-12-03 17:16] nbaxley-uiuc commented on #536
This is from an setting that we no longer need.  We can remove the 1 column footer layout option.  Remove the below code in the footer region template:
`    {% if drupal_entity('block_content', 1) %}
    <div class="il-footer-navigation">
       <div>
         {{ drupal_entity('block_content', 1) }}
       </div>
    </div>
    {% endif %}
`

[2021-12-03 17:44] mwllr opened #577 "New Fund - Layout"
When I create a new fund, the submission display doesn't show in the main content area.
![Screen Shot 2021-12-03 at 11 42 12 AM](https://user-images.githubusercontent.com/54747669/144648449-e286f506-8d44-4252-a096-716f54980180.png)

[2021-12-03 18:11] #565 closed, assigned to magjarvis

[2021-12-03 19:04] nbaxley-uiuc commented on #469
Fixed with #535

[2021-12-03 19:04] #469 closed, assigned to wrg20, magjarvis

[2021-12-03 19:04] nbaxley-uiuc commented on #467
Fixed with #535

[2021-12-03 19:04] #467 closed, assigned to wrg20, magjarvis

[2021-12-03 19:06] nbaxley-uiuc commented on #419
Fixed with #535

[2021-12-03 19:06] #419 closed, assigned to nobody

[2021-12-03 19:07] nbaxley-uiuc commented on #494
Fixed with #535

[2021-12-03 19:07] #494 closed, assigned to wrg20

[2021-12-03 19:50] magjarvis commented on #529
il-formatted is currently styling the tables

[2021-12-03 19:50] #529 closed, assigned to magjarvis

[2021-12-03 20:11] trubach commented on #411
It looks like the left-align image is working, but not the center or right-align. See https://illinois-drupal.web.illinois.edu/image-alignment-test

[2021-12-03 20:17] nbaxley-uiuc commented on #577
Duplicate of #483

[2021-12-03 20:17] #577 closed, assigned to nobody

[2021-12-03 20:18] nbaxley-uiuc commented on #465
This is a caching issue. If you open the page as a logged out person or clear the cache manually the number gets updated. I don't think we need to do any changes here.
Duplicate of #484

[2021-12-03 20:24] #424 closed, assigned to nobody

[2021-12-03 20:27] nbaxley-uiuc commented on #523
Duplicate of #425

[2021-12-03 20:27] #523 closed, assigned to nobody

[2021-12-03 20:58] #535 closed, assigned to wrg20, magjarvis, mwllr, nbaxley-uiuc

[2021-12-03 21:23] #22 closed

[2021-12-03 22:06] trubach commented on #533
The block_exclude_pages module is now included by default on framework sites.

[2021-12-03 22:06] #533 closed, assigned to trubach

[2021-12-03 22:18] nbaxley-uiuc opened #581 "Evaluate current sidebar placement methods"
We need to review the current method of placing the sidebar in a way that allows content to wrap around under it.  We should consider any changes that can be made to the page template and if we can move those changes to a content type specific template or not.

[2021-12-03 22:56] nbaxley-uiuc commented on #581
One discussion topic was to create content type specific template files to handle the sidebar in content page different from other CTs.  As @robgasc pointed out, the "suggestion" method for template files is based on the URL.  There IS a way to suggest template files based on TYPE as [described here](https://befused.com/drupal/page-template-content-type/).  However, since the current Content Page

[2021-12-06 15:49] magjarvis commented on #411
I think it's something to do with the paragraphs template. Right-align works in the body field, but not in the rich text paragraph. I've added a demo to that test page

[2021-12-07 23:29] mwllr opened #582 "split feature - button on blue gradient"
button on blue gradient should not be multi-colored.
Hover should NOT have the orange outline, just the white outline white white background.

[2021-12-07 23:34] mwllr opened #583 "Illinois Framework Theme - Header Link List - Link #2 - Field Missing"
The link field for Link # 2 has run away.... Missing from the Framework theme as well as ACES theme when we went to RC 2.
![Screen Shot 2021-12-07 at 5 34 01 PM](https://user-images.githubusercontent.com/54747669/145122270-f5316f7c-7e39-4e62-a863-01540888b05a.png)

[2021-12-07 23:37] mwllr opened #584 "Big buttons - moved out of main content region"
with RC2 - big buttons have moved to the left of the main content region next to side nav
![Screen Shot 2021-12-07 at 5 35 12 PM](https://user-images.githubusercontent.com/54747669/145122543-a8eb903e-0bcf-4356-afc4-555b0f69f56f.png)
.

[2021-12-07 23:48] mwllr opened #585 "Contact buttons - shouldn't be a visited state"
Contact buttons visited states are incorrect now. There shouldn't be a visited state. They should still be orange button with white text.
![Screen Shot 2021-12-07 at 5 47 56 PM](https://user-images.githubusercontent.com/54747669/145123459-e3fee131-1aec-41a6-ab08-45565e874974.png)

[2021-12-08 05:29] wrg20 commented on #583
Looks like a "t" is missing from the textfield

[2021-12-08 05:39] wrg20 commented on #583
Merge #586 fixes this issue

[2021-12-08 05:39] #583 closed, assigned to wrg20

[2021-12-08 21:56] trubach commented on #561
@mwllr  - How strongly do you feel that we need the options for opening single/multiple accordions at a time, along with sold/bordered display? I'm inclined to keep the editing form simple, and set it to multiple allowed open, and using the solid display.

Then, in theory, someone could override the templates we have in our theme to change the behavior of the accordions. They'd need to add their o

[2021-12-09 18:04] mwllr opened #588 "Rich Text Columns"
https://illinois-drupal.web.illinois.edu/paragraphs/rich-text/rich-text-columns

When using rich text with 2 columns/content types, the Title is floated left and things get whacked out if you don't use the title fields on the columns...
![Screen Shot 2021-12-09 at 12 02 07 PM](https://user-images.githubusercontent.com/54747669/145451074-2c01d964-cb13-4fc5-8af6-370ab8a2d74b.png)

Should look more l

[2021-12-09 18:17] mwllr commented on #411
https://illinois-drupal.web.illinois.edu/paragraphs/rich-text/rich-text-images

[2021-12-09 18:27] mwllr opened #589 "Rich Text and Content Page Body Image Padding/Margin/Alignment"
- [x] Left align images, add 20px padding to right of image, 25px bottom padding (already 10 there, change to 25).
- [x] Right align image - 20px padding on left, 25px bottom.
- [x] Get alignment to work on rich text

![Screen Shot 2022-01-27 at 1 04 53 PM](https://user-images.githubusercontent.com/54747669/151426813-2341e1de-d0f4-4b84-be0a-8ee72e8fbdf8.png)
![Screen Shot 2022-01-27 at 1 05 03 PM]

[2021-12-09 20:37] wrg20 commented on #460
https://www.drupal.org/project/cdn - may need to implement a more aggressive solution.

[2021-12-09 21:55] trubach commented on #460
What issue is this trying to solve? Could you add some detail on what the problem is?

[2021-12-10 19:09] robgasc opened #590 "What image styles to allow for embedding?"
We can have a set of options for display of embedded images from the media library buttons. However, none of them are available, and the default of a large image is instead selected as none are enabled.

Here are the options at this moment for display styles. We can also make all new ones for embedded images. We would have complete control over these new styles. This list are ones that are in use

[2021-12-13 16:38] robgasc commented on #52
So there is a setting that needs to change, called Standalone URL in the media settings. I've enabled this on the site, and updated the alias that was pointing to the edit page. It takes you to the media item itself, not directly to the document.

[2021-12-13 16:43] magjarvis opened #591 "MCB - create display mode for news stories"

[2021-12-14 15:11] #536 closed, assigned to wrg20, nbaxley-uiuc

[2021-12-15 20:23] trubach commented on #561
I talked with Melissa and she's OK with merging what's currently developed. I will create a new ticket to add the solid/bordered and multiple open options.

[2021-12-15 20:59] #561 closed, assigned to trubach

[2021-12-15 21:18] trubach opened #593 "Accordion - add advanced options"
There are a few advanced options the toolbox accordion can handle that aren't built into the accordion paragraph. The options that need to be added are:

- [ ] Allow only one accordion row expanded at a time (i.e. close all other accordions when clicking on a row)
- [ ] Allow bordered accordion rows vs. the solid option that is the current default
- [ ] Option on each row to default the details to

[2021-12-16 16:23] trubach commented on #406
Here's an article about adding oEmbed sources to the media library, in case Media Space adds oEmbed support in the future

https://www.hashbangcode.com/article/drupal-9-using-and-adding-oembed-providers

[2021-12-17 18:44] robgasc commented on #534
Between me (and lots of debugging the update process with @trubach ) this is now ready to test on the sandbox.

[2021-12-17 19:53] nbaxley-uiuc opened #596 "Find a way to hide/present fields on a form"
We need a way to hide some more advanced options from editors so that we can simplify the forms as much as possible without taking away possible configurations from advanced users.

- [ ] Test several modules that could assist with this functionality.

Some options could be [Conditional Fields](https://www.drupal.org/project/conditional_fields) and [Field Groups](https://www.drupal.org/project/fie

[2021-12-23 18:35] robgasc commented on #384
Added this filter plugin to the il-fw-core. Had to update the file offered on the site for D9, but otherwise seems functional. I did not include any config to change over fields that are referencing blocks. Should that become default config for the block reference paragraph? @wrg20 @nbaxley-uiuc

[2022-01-05 15:48] #384 closed, assigned to robgasc

[2022-01-05 15:50] #584 closed, assigned to robgasc

[2022-01-05 15:50] #588 closed, assigned to robgasc

[2022-01-05 21:02] robgasc commented on #465
Can confirm, this is a cache issue. One possible work around might be [inline entity form](https://www.drupal.org/project/inline_entity_form) https://www.drupal.org/project/inline_entity_form; which will allow editing and creation of the giving funds right from the page, like paragraphs currently work. That way you save the fund and listing page together, clearing up the right cache.

A longer alt

[2022-01-05 21:35] robgasc commented on #406
I've created two pull requests: https://github.com/web-illinois/illinois_framework_core/pull/65 and https://github.com/web-illinois/illinois_framework_profile/pull/22 which together enable the video embed field module, and video embed wysiwyg module. The module that was a separate entity in the las framework is moved into the core, since it is a single file that adds the additional provider. Befor

[2022-01-05 21:52] mwllr commented on #582
looks great!

[2022-01-05 21:52] #582 closed, assigned to magjarvis

[2022-01-05 21:56] mwllr commented on #585
appears to be fixed on https://illinois-drupal.web.illinois.edu/paragraphs/contact
I updated the second button link on each of the contact paragraphs to link to /paragraphs/contact to make sure it went to a visited page.

[2022-01-05 22:00] mwllr commented on #537
technically only need to remove the padding on h2 if it is the first h2 in the paragraph....Only removing the padding/margin so there is the 45 px paragraph padding to start the rich text paragraph with.
h2:first-of-type

[2022-01-05 22:22] mwllr opened #599 "Contact - titles size/weight"
Change:
![Screen Shot 2022-01-05 at 4 02 22 PM](https://user-images.githubusercontent.com/54747669/148297609-b2b30147-3fba-4294-a710-f990a0b635d7.png)

TO:
section title- font size - 35, line height - 43, 600 weight, keep orange
contact title - font size - 29, line height - 35, 600 weight, keep blue
contact subtitle - font size - 25, line height - 29, 600 weight, keep gray
![Screen Shot 2022-01-05

[2022-01-05 22:24] mwllr commented on #467
List formatting was added to components 2.5 released in December 2021.
https://cdn.toolkit.illinois.edu/2.5/examples/stylesheets/typography/lists/index.html
@nbaxley-uiuc

[2022-01-05 22:27] mwllr commented on #561
yep. Melissa will take basic functionality now and upgrades later ;)

[2022-01-05 22:27] #585 closed, assigned to magjarvis

[2022-01-06 14:11] robgasc commented on #442
I've created two pull requests: [web-illinois/illinois_framework_core#65](https://github.com/web-illinois/illinois_framework_core/pull/65) and [web-illinois/illinois_framework_profile#22](https://github.com/web-illinois/illinois_framework_profile/pull/22) which together enable the video embed field module, and video embed wysiwyg module. The module that was a separate entity in the las framework i

[2022-01-06 15:40] mwllr commented on #599
@magjarvis - do you have time to tackle this one? just a few size/weight tweaks?

[2022-01-06 16:24] magjarvis commented on #599
@mwllr Sure, I can take this one

[2022-01-06 20:23] magjarvis commented on #537
looks like there is already a :first-child class in il-formatted. I've adjusted the colors for RT, News, and Spotlight

[2022-01-06 20:42] mwllr commented on #534
@robgasc - shows up in basic content, but not in rich text...
https://illinois-drupal.web.illinois.edu/534-upload-files-media-library-through-ckeditor

[2022-01-06 21:30] mwllr opened #602 "Basic content editors need to add and edit tables"
Currently, basic editors can't even edit or add tables in rich text or the body of content pages. Can we get that feature added so they have that opportunity?

[2022-01-06 21:36] mwllr commented on #584
Looks correct on sandbox!
![Screen Shot 2022-01-06 at 2 48 05 PM](https://user-images.githubusercontent.com/54747669/148455445-46fa9786-e509-4a86-93a2-75b702845310.png)

[2022-01-06 21:40] mwllr commented on #588
looks marvelous!
https://illinois-drupal.web.illinois.edu/paragraphs/rich-text/rich-text-columns
![Screen Shot 2022-01-06 at 3 39 56 PM](https://user-images.githubusercontent.com/54747669/148455916-78fa719e-7866-45c2-a280-e2bfc45d4734.png)

[2022-01-06 21:47] mwllr opened #603 "Accordion - paragraph styling"
@magjarvis - Can we add the 45px margin/padding to the top and 60px margin/padding to the bottom of this paragaph type?

[2022-01-06 21:48] mwllr commented on #561
Accordion paragraph type added and functions properly.
https://illinois-drupal.web.illinois.edu/paragraphs/accordion

[2022-01-06 21:53] mwllr opened #604 "Accordion - left margin needs aligned"
when accordions are not next to sidebar, they are not aligned with page margins. They stick out to left too much.
![Screen Shot 2022-01-06 at 3 52 00 PM](https://user-images.githubusercontent.com/54747669/148457384-c2f32757-4ff7-429c-a270-943d2cbae31d.png)

[2022-01-06 21:54] mwllr commented on #604
@magjarvis or @robgasc ??

[2022-01-06 21:58] mwllr commented on #52
@robgasc - is it always supposed to take you to the media page, and not the document?
As a user, I would expect it to take you to the document.
@nbaxley-uiuc

https://illinois-drupal.web.illinois.edu/52-media-module

[2022-01-06 22:22] #58 closed, assigned to wrg20

[2022-01-07 15:35] nbaxley-uiuc commented on #599
@mwllr these changes are on the sandbox.  Can you review?

[2022-01-07 15:37] #537 closed, assigned to NotThatDavidCross, magjarvis

[2022-01-07 15:38] trubach commented on #604
Page with an example of the issue: https://illinois-drupal.web.illinois.edu/paragraphs/accordion

[2022-01-07 16:13] robgasc opened #605 "Media render not working in rich text paragraph body"
Basically, same issue as with content pages body rendering, where we are using `content.field_rt_column[loop.index0]['#paragraph'].field_rt_content_body.value and body | raw` in paragraph--rt.html.twig in the theme. Need to identify the right twig tweaks function to render a body field in a parent paragraph for a referenced paragraph's field.

Alternatively, convert this single template handling t

[2022-01-07 16:14] robgasc commented on #534
Hi @mwllr, I've made a separate issue for this, since it is unique to the implementation of the rich text. https://github.com/web-illinois/illinois_framework_theme/issues/605

[2022-01-07 17:28] robgasc commented on #52
The choice is either a nice alias, or the full document url in our current setup. @mwllr

[2022-01-07 19:02] nbaxley-uiuc commented on #465
I LOVE the idea of making giving funds into a paragraph.  We'll need to think about the implications of a change and there will be some migration as well, but we can take our time to deprecate the current method.  I'm moving this to the backlog milestone but hope to bring it back for v2.5 or so.

[2022-01-07 19:02] nbaxley-uiuc opened #606 "Convert Giving funds to a paragraph type"
Can confirm, this is a cache issue. One possible work around might be [inline entity form](https://www.drupal.org/project/inline_entity_form) https://www.drupal.org/project/inline_entity_form; which will allow editing and creation of the giving funds right from the page, like paragraphs currently work. That way you save the fund and listing page together, clearing up the right cache.

A longer alt

[2022-01-07 19:03] #465 closed, assigned to robgasc

[2022-01-07 20:18] nbaxley-uiuc commented on #52
To make the formatting a little better, let's make the following changes:

- Place the link/image thumbnail/video inside the page width
- Add padding below the link/image thumbnail/video to separate it from the footer
- Increase the font size on links
- Increase the video size on video previews

[2022-01-07 22:28] mwllr commented on #599
Looks great!!
![Screen Shot 2022-01-07 at 4 27 32 PM](https://user-images.githubusercontent.com/54747669/148615486-dca6aedb-a8ac-483e-9983-679e5b730669.png)

[2022-01-07 22:29] #599 closed, assigned to magjarvis

[2022-01-10 14:55] #604 closed, assigned to magjarvis

[2022-01-10 14:56] #603 closed, assigned to magjarvis

[2022-01-10 19:05] robgasc commented on #52
The styling is now present for the page.

[2022-01-10 19:05] #52 closed, assigned to robgasc

[2022-01-10 23:07] NotThatDavidCross commented on #478
It looks like Bill took care of this in this commit:  https://github.com/web-illinois/illinois_framework_theme/commit/7739b0da854aecd03b5f3d2687c04ef2f097652f

Those are definitely the Faculty Explorer images.

[2022-01-11 20:13] #488 closed, assigned to robgasc

[2022-01-12 16:21] nbaxley-uiuc commented on #443
This probably needs expansion, but here's a start.  https://drupal.webtheme.illinois.edu/site-setup/editing-permissions

[2022-01-12 16:21] #443 closed, assigned to nbaxley-uiuc

[2022-01-12 16:53] nbaxley-uiuc commented on #425
Various methods are described [here](https://drupal.webtheme.illinois.edu/site-setup/news-archive-listing)

[2022-01-12 16:53] #425 closed, assigned to nbaxley-uiuc

[2022-01-12 16:59] nbaxley-uiuc commented on #422
Documentation [here](https://drupal.webtheme.illinois.edu/site-setup/adding-social-media-accounts)

[2022-01-12 16:59] #422 closed, assigned to nbaxley-uiuc

[2022-01-12 16:59] nbaxley-uiuc commented on #531
This is well documented [here](https://github.com/web-illinois/illinois_framework_project/blob/1.x/README.md)

[2022-01-12 16:59] #531 closed, assigned to trubach

[2022-01-12 18:58] mwllr commented on #593
What about accordions within an accordion???
I'll need to do this page soon: https://hdfs.illinois.edu/undergraduate/faq
@trubach

[2022-01-12 19:40] trubach commented on #460
Add DNS prefetch in PR #592

See https://github.com/web-illinois/illinois_framework_theme/pull/592/files#diff-fb53c185027944f6a7c43c0056adb002dbe8dc497a54887fa8b324d7beeaafbc

[2022-01-12 19:40] #460 closed, assigned to nobody

[2022-01-12 19:41] trubach commented on #280
Removed in PR #592

[2022-01-12 19:41] #280 closed, assigned to wrg20

[2022-01-12 20:21] nbaxley-uiuc opened #613 "Make University login more prominent"
Currently the Login link in the footer is hard coded to go to the local user login screen.  We should make this variable in some way and when the simple saml plugin is installed and configured the link should point to the University login by default to avoid confusion.

[2022-01-12 20:57] #395 closed, assigned to nbaxley-uiuc

[2022-01-12 21:01] #534 closed, assigned to robgasc

[2022-01-13 16:01] trubach opened #614 "Update copyright year in footer"
The copyright year in the footer is hard-coded to 2021. We should change it to dynamically generate the year using Twig: https://twig.symfony.com/doc/3.x/filters/date.html

[2022-01-13 19:31] #614 closed, assigned to trubach

[2022-01-24 20:10] mwllr opened #617 "Move to Components 2.5"
- [ ] Update component include to point to version 2.5

[2022-01-24 21:16] #591 closed, assigned to magjarvis

[2022-01-27 19:01] mwllr opened #618 "Rich Text - Images, Video, and PDFs/Media Library"
Trying to add images, video and pdfs to the body and to a rich text.

- [x] Rich text - Adding image via image icon in ckeditor - works great. - REMOVING THIS OPTION IN CK EDITOR
- [x] Rich text - Adding via video embed icon in ckeditor: - only code displays
- [x] Rich text - Adding via insert from Media Library icon in ckeditor-- Video: nothing displays
- [x] Rich text - Adding via insert from Me

[2022-01-27 19:02] mwllr opened #619 "Content Page - Body - Image display"
Trying to add images, video and pdfs to the body and to a rich text. In Body, all options work, although first image via image icon in ckeditor is whacked out.

- [ ] Remove the first, "direct" image embed option from the text editor in favor of the media library

https://illinois-drupal.web.illinois.edu/paragraphs/rich-text/rich-text-image-video-pdf-media-library

[2022-01-28 19:52] wrg20 opened #620 "Add content adjustment javaScript to page--news template"
Using a paragraph on the news page along with a sidebar results in the columns not displaying properly.
![image](https://user-images.githubusercontent.com/1544079/151612407-cb4b2a36-cce1-46bb-af8b-6a4e1213e5da.png)

[2022-01-31 16:17] nbaxley-uiuc commented on #470
@magjarvis is working on turning calendar embeds into a paragraph type to encapsulate the JS and addressing the formatting will be part of this.

[2022-01-31 21:15] nbaxley-uiuc commented on #619
The image problem is because that first icon just drops the image in at whatever size it is.  Maybe we need to just remove that option in favor of the media library.

[2022-01-31 21:17] nbaxley-uiuc commented on #618
@mwllr It looks like some of these are working in the page you linked to and some are not.  Can you clarify?

[2022-01-31 21:18] nbaxley-uiuc commented on #602
I think we need to enable the table icons in the configuration settings.

[2022-01-31 21:21] nbaxley-uiuc commented on #617
@mwllr Is this just about changing the toolkit version we point to so that people can manually use the features in 2.5 or actually build components for all of them?

[2022-01-31 21:23] nbaxley-uiuc commented on #411
I think this is related to #605

[2022-01-31 21:27] nbaxley-uiuc commented on #453
@mwllr On tablet, should the icon be left aligned on the same line with the other content, or on the line as it is now?  Example: https://illinois-drupal.web.illinois.edu/paragraphs/call-action

[2022-01-31 21:37] nbaxley-uiuc commented on #468
@mwllr Just to clarify:
**When they are right aligned** the bullets should be to the right of the text with all bullets flush to the right side?
**When they are center aligned** the bullets should be tight to the text, on the left side of the text, and will vary left to right depending on the text length.

- I think for right align we want to add a `direction: rtl;` rule ([explanation here](https:

[2022-01-31 21:38] nbaxley-uiuc commented on #549
@magjarvis What's the status on this one?  Is this a universal setting or do we need to make a list of all instances of it?

[2022-01-31 21:44] nbaxley-uiuc commented on #620
Is it the gap at the top that's the problem?

[2022-01-31 21:57] nbaxley-uiuc commented on #474
It's been updated to "@illinois.edu"

[2022-01-31 21:57] #474 closed, assigned to nobody

[2022-01-31 22:02] nbaxley-uiuc opened #622 "Release HoverBox component"
Incorporate Maggie's new news treatment and documentation

[2022-02-01 17:15] nbaxley-uiuc opened #623 "Add login redirect module"
Will automatically redirect people to the Shibboleth login page and will preserve their original destination.

- [x] Install the module
- [x] Create documentation to configure it correctly or integrate the configuration into the [shibboleth scripting](https://github.com/web-illinois/illinois_framework_project/wiki/Setting-up-Shibboleth-authentication-within-your-Illinois-Framework-Drupal-site)

ht

[2022-02-01 17:22] mwllr commented on #617
@nbaxley-uiuc There are no new components in 2.5 - only font spacing and sizing changes. Want to change to use on template, not just to build things.

[2022-02-01 19:40] wrg20 opened #624 "News figcaption captions"
- [ ] Captions width should match the image

![image](https://user-images.githubusercontent.com/1544079/152039225-3f7e1fc4-d5c5-45ea-9d03-6f13e58b2d02.png)

[2022-02-02 15:12] mwllr opened #625 "List Collection - tweaks to image squishing and using columns when no image used"
- [x] #668
- [x] images on 1200+ screen width are great, but going to tablet - they get squished width wise. (same as above 668)
- [x] if no image is being used, the text should go the full width of the columns, not stop where an image could be.
- [x] next to side nav - title and subtitle should left align with regular rich text, but all list collection items should indent for the gray background

[2022-02-02 15:45] nbaxley-uiuc commented on #468
Design group has decided that all lists should be left aligned.

[2022-02-02 15:53] nbaxley-uiuc commented on #619
Decided to remove the first image embed icon and use the Media Library embed only.

[2022-02-02 15:55] nbaxley-uiuc opened #626 "Fix the padding on images in rich text body fields"
Needs to be fixed for both node body text and the rich text paragraph.

[2022-02-02 16:31] nbaxley-uiuc commented on #623
Enabling this module should resolve the issue in #613

[2022-02-02 16:32] nbaxley-uiuc commented on #613
This should be addressed by #623 but will need to be tested.

[2022-02-02 17:00] nbaxley-uiuc opened #627 "Update rich text paragraph template to properly apply Drupal formatting classes"
Currently causing problems with image float alignments and media library embeds.

[2022-02-02 17:01] nbaxley-uiuc commented on #627
Should resolve #618 and #411

[2022-02-02 17:02] nbaxley-uiuc commented on #602
@nbaxley-uiuc will review current configurations

[2022-02-02 17:10] nbaxley-uiuc commented on #605
Should resolve #618 and #411

[2022-02-02 17:11] nbaxley-uiuc commented on #627
Duplicate of #605

[2022-02-02 17:11] #627 closed, assigned to nobody

[2022-02-02 17:27] #459 closed, assigned to trubach

[2022-02-02 21:01] mwllr opened #628 "Adding breadcrumbs and styling"
We should go ahead and add breadcrumbs to the content pages.

- [x] Apply correct styling as listed here: https://xd.adobe.com/view/774499da-8370-42db-a7da-bf208652c967-2217/
- [x] Remove breadcrumbs on mobile and tablet

[2022-02-02 21:06] mwllr opened #629 "Create new content type - landing page"
Mimicking the content page we have with the following changes:

- [ ] no breadcrumbs
- [ ] no page title displaying (must use a hero to do this)
- [ ] no side navigation

@nbaxley-uiuc or  @magjarvis - what else would you want for this landing page content type?

[2022-02-03 16:27] mwllr opened #630 "Menu - check right align on mobile due to components 2.4 upgrade"
NOTE: This is in the toolkit components. Will be fixed there... Not our issue. The components team is aware and working on it.

added align=right to the component code in components 2.4
adds text-align = right but doesn't remove it on the small breakpoint
![Screen Shot 2022-02-03 at 9 35 08 AM](https://user-images.githubusercontent.com/54747669/152384835-a1417dfd-3357-4813-aac1-d806b2e8a7ea.png)
!

[2022-02-03 20:36] wrg20 commented on #462
merge #631 removes the mega menu and simple menu options

[2022-02-03 21:11] wrg20 commented on #462
merge #632 removed the mega menu options from the template classes

[2022-02-03 21:12] wrg20 commented on #462
This will need some testing on websites that have selected one of these options in their theme configuration settings.

[2022-02-03 21:24] wrg20 commented on #462
#633 remove the install config

[2022-02-08 22:44] mwllr opened #634 "Content Page - margins on mobile"
- [ ] on mobile - we lose the 20px left and right margin. Missing on side navigation, body, paragraphs, etc... under 575px window size.
- [x] Also affects paragraphs next to side navigation.

Example: https://illinois-drupal.web.illinois.edu/paragraphs/feature-box
![Screen Shot 2022-02-08 at 4 42 03 PM](https://user-images.githubusercontent.com/54747669/153087915-5344bb12-537a-4ba8-b9d6-55caa0d76a

[2022-02-08 22:56] mwllr opened #635 "Accordion - margins/padding, tables, video.."
- [x] on mobile - we should have left and right margins of 20px like all other paragraph types.
- [ ] on mobile -  a Video (added with media) - should be 100% width of accordion area where text could be. This example goes off the page.
- [x] #696
- [ ] when adding remote video - make larger.

https://illinois-drupal.web.illinois.edu/paragraphs/accordion

![Screen Shot 2022-02-08 at 4 48 00 PM](htt

[2022-02-10 17:07] magjarvis opened #636 "Big buttons padding"
- [x] Override 15px col padding and change to 24px

[2022-02-10 17:08] magjarvis opened #637 "Hvrbox gutters and alignment"
- [ ] Align body text with title
- [ ] Change gap spacing to 3% (36px)

[2022-02-10 17:09] magjarvis opened #638 "Rich text columns"
- [x] change column padding to 36px

[2022-02-10 17:09] magjarvis opened #639 "Feature group image padding"
- [ ] change col padding for feature group images to 24px

[2022-02-11 19:59] #549 closed, assigned to magjarvis

[2022-02-14 17:30] wrg20 opened #640 "http redirects to https"
The cPanel .htaccess rules work independently from the drupal install profile .htaccess file.  This results in an issue where turning on https:// forced redirect within the cPanel interface overwrites the Drupal .httacess file and "whitescreens" the website.  We may need to create a script that adds the forced redirect rules into the .htaccess files after installation / updates.

See below for Rul

[2022-02-14 22:20] #636 closed, assigned to magjarvis

[2022-02-14 22:21] #638 closed, assigned to magjarvis

[2022-02-14 22:21] #637 closed, assigned to magjarvis

[2022-02-16 15:15] jakramer-illinois commented on #640
I could not reproduce this on a clean framework install. I installed the framework using the one step composer instructions, visited the site, reviewed the htaccess. Then I toggled Force HTTPS on. No changes were made to .htaccess and the site still functioned correctly.

I'd like to test this further before any changes are made.

Are you talking about the Force HTTPS toggle from the Domains featu

[2022-02-17 21:12] robgasc opened #644 "Child themes do not inherit all css"
A theme set to inherit the illinois_framework_theme will fail to apply some styles because the css has ids that target based on the name of the theme. So, if your child theme/ sub theme is named "illinois_framework_theme_esl" selectors like #block-illinois-framework-theme-content will now in the generated html be #block-illinois-framework-theme-esl-content.

Fix: replace these theme based selector

[2022-02-18 20:25] wrg20 commented on #618
merge #645 should fix this issue

[2022-02-18 20:32] wrg20 commented on #605
merge #645 should fix this issue

[2022-02-18 21:00] wrg20 opened #646 "Video Element constrained to original video width"

[2022-02-18 21:05] wrg20 commented on #646
the video element when inserted using media constrains the video to the original width, this is as designed by the system

[2022-02-18 21:31] mwllr commented on #453
@nbaxley-uiuc
--on tablet, icon needs to move to the left a little.
--still need centered on mobile.

![Screen Shot 2022-02-18 at 3 28 32 PM](https://user-images.githubusercontent.com/54747669/154763973-c02777ac-7135-4488-aad8-98da2198b68c.png)

[2022-02-18 21:34] mwllr commented on #509
@nbaxley-uiuc - I believe this is done.

[2022-02-21 22:15] wrg20 commented on #605
got all media to display except for remote video

[2022-02-21 22:55] wrg20 commented on #618
merge #649 media embed fixed

[2022-02-21 23:05] wrg20 commented on #605
Video embed module was not installed so the video button was not being pulled in properly.  Configuration will need to be added to enable this module.

[2022-02-22 18:57] robgasc commented on #605
Not quite sure what you mean, Bill. Seems the remote video is working fine now in Rich Text. There should not be any more pieces of that video embed field module enabled than are enabled now, that separate button is primarily to allow Mediaspace videos, not anything to do with the Media library.

[2022-02-23 21:36] trubach commented on #640
@wrg20 and @jakramer-illinois - I've updated the composer project setup script to enable HTTPS by default after a site is installed using the cPanel API. It was included in the PR at web-illinois/illinois_framework_project#10

Feel free to go ahead and close this ticket if you both are happy with the changes to the composer project.

[2022-02-24 17:23] #624 closed, assigned to robgasc

[2022-02-24 17:24] #619 closed, assigned to robgasc

[2022-02-24 17:51] #470 closed, assigned to magjarvis, mwllr

[2022-02-25 17:05] wrg20 commented on #626
merge #653 should fix this issue

[2022-02-25 17:10] wrg20 commented on #589
merge #626 fixes this

[2022-02-25 17:21] wrg20 commented on #618
I believe the media module is only setup on the basic html text format....as long as you use basic all of the types of media should display properly.  Needs testing.

[2022-02-25 17:22] wrg20 commented on #605
@robgasc - just realized it was a issue with the text filter not with the module.

[2022-02-25 17:23] wrg20 commented on #605
submitting for testing...

[2022-02-25 19:39] wrg20 commented on #468
merge #654 adjusts all lists to left alignment

[2022-02-25 19:51] wrg20 commented on #646
https://www.drupal.org/forum/support/post-installation/2020-12-22/adjust-remote-video-embed-dimensions

Here is the behavior.

[2022-02-28 16:53] nbaxley-uiuc commented on #411
Testing here all looks good.  https://illinois-drupal.web.illinois.edu/paragraphs/rich-text/rich-text-images

[2022-02-28 16:53] #411 closed, assigned to magjarvis, nbaxley-uiuc

[2022-02-28 16:56] nbaxley-uiuc commented on #605
Looks good to me!

[2022-02-28 16:56] #605 closed, assigned to wrg20

[2022-02-28 22:22] mwllr commented on #470
Is working!! Maggie still tweaking a few more things after we talked today.

[2022-02-28 22:23] #468 closed, assigned to wrg20

[2022-03-01 00:06] wrg20 opened #656 "Rich Text repeating content"

[2022-03-01 00:12] wrg20 commented on #656
merge #657 fixes this issue

[2022-03-01 19:39] wrg20 commented on #646
I can't seem to reproduce this issue now

[2022-03-01 20:13] nbaxley-uiuc commented on #622
Testing passed

[2022-03-01 20:13] #622 closed, assigned to magjarvis

[2022-03-01 21:53] wrg20 commented on #634
merge #659 should fix this

[2022-03-01 21:57] wrg20 opened #660 "News Teaser view fixed width"

[2022-03-01 21:58] wrg20 commented on #660
![image](https://user-images.githubusercontent.com/1544079/156255889-994046de-aa95-4d45-810d-6188dffd2f57.png)

[2022-03-01 22:00] wrg20 commented on #660
https://illinois-drupal.web.illinois.edu/news example page

merge #661 should fix this

[2022-03-01 22:59] wrg20 commented on #504
Not sure if this is an issue anymore @mwllr any thoughts?  Grouped Feature basically doesn't work without a sidenav.  Maybe that's what I was talking about.

[2022-03-02 15:22] wrg20 opened #662 "Big button mobile"

[2022-03-02 15:22] wrg20 commented on #662
![image](https://user-images.githubusercontent.com/1544079/156391573-244a11af-5a9d-4ef8-96e2-3af237e408e7.png)

Adjust the padding and margins on mobile

[2022-03-02 16:02] nbaxley-uiuc opened #663 "Add a version setting to the theme yml file"
Add for 2.1 and update for future versions

[2022-03-02 16:07] #478 closed, assigned to wrg20

[2022-03-02 16:52] nbaxley-uiuc opened #664 "Investigate Editoria11y accessibility checker"
Post content save, single-page checker.  https://www.drupal.org/project/editoria11y

[2022-03-02 18:54] wrg20 commented on #527
We still haven an issue with text decoration that doesn't allow me to remove the rules just yet.
![image](https://user-images.githubusercontent.com/1544079/156429074-66aaf3d0-cd5a-4b50-91c9-7fa8ef72d2d7.png)

[2022-03-02 19:22] wrg20 commented on #527
needs further discussion...kicking to 2.2

[2022-03-02 19:22] wrg20 commented on #527
![image](https://user-images.githubusercontent.com/1544079/156433708-aacc56e8-8362-41b5-be29-3055b71827df.png)

[2022-03-03 14:36] magjarvis opened #665 "Hoverbox class error"
Update hoverbox column classes so they don't clash with existing col clases

[2022-03-03 17:14] #617 closed, assigned to trubach

[2022-03-03 17:39] wrg20 commented on #663
merge #667

[2022-03-03 17:39] #663 closed, assigned to wrg20

[2022-03-04 14:58] #458 closed, assigned to nbaxley-uiuc

[2022-03-04 15:32] nbaxley-uiuc commented on #634
@wrg20 I tested this with the two examples @mwllr gave.  The [first one ](https://illinois-drupal.web.illinois.edu/paragraphs/feature-box) seems to be working, but in the [Crop Sci example ](https://cropsciences.illinois.edu/academics/undergraduate-degrees) there's still no left margin on mobile.  Not a deal breaker, but if we can get it corrected maybe it can go out in a 2.1.1 or 2.2 at the lates

[2022-03-04 15:43] mwllr commented on #634
Looks great!. content margins fixed.

[2022-03-04 15:43] #634 closed, assigned to wrg20

[2022-03-04 15:47] mwllr commented on #626
Looks great!
![Screen Shot 2022-03-04 at 9 46 25 AM](https://user-images.githubusercontent.com/54747669/156794884-3622415c-fc4d-4e2a-8c98-9d092eed5d65.png)

[2022-03-04 15:47] #626 closed, assigned to wrg20

[2022-03-04 15:48] mwllr commented on #470
Calling is great for 2.1 release. Will continue to tweak and add to it for 2.2.
![Screen Shot 2022-03-04 at 9 47 47 AM](https://user-images.githubusercontent.com/54747669/156795066-10b64904-0f57-40fa-ba85-58eda50511e9.png)

[2022-03-04 15:51] mwllr opened #668 "images next to side navigation are squished"

[2022-03-04 15:51] mwllr commented on #668
This has been corrected and put in 2.1.
approved! Thank you.